[2016-10-31 16:40] MarcMazas opened #1 "Strange tokenImage"
The grammar listed below generates in the xxConstants.java file a strange tokenImage value for some regular expressions.
Entries 10 & 11 should be, IMHO, "<FORMAL_COMMENT>" and "<MULTI_LINE_COMMENT>" instead of "\"*/\"" for both (like entry 9 "<SINGLE_LINE_COMMENT>").

Generated Constants file :
/* Generated By:JavaCC: Do not edit this line. ElementsUsuels2Constants.java */
package tp2;

/**
 * To

[2016-11-19 09:13] phax opened #2 "[6.1.3] The code for the static initializer is exceeding the 65535 bytes limit"
I'm having a big grammar (https://github.com/phax/ph-css/blob/master/ph-css/src/main/jjtree/ParserCSS30.jjt) and when I compile it with `DEBUG_PARSER=true` and `DEBUG_TOKEN_MANAGER=true` I get the Java error `The code for the static initializer is exceeding the 65535 bytes limit` in the generated `TokenManager` class.

A simply solution would be to put the static members `protected static final in

[2016-11-19 09:22] phax opened #3 "Compiler error in head"
Your project setup uses Java 1.5 as a target but uses `BitSet.toLongArray` in class `TableDrivenJavaCodeGenerator`. This method `toLongArray` is first available in JDK 1.7

[2016-12-15 17:27] ainsley opened #6 "For 7.0.x : Request for BREAKING CHANGE: Wish to change the default JAVA_TEMPLATE_TYPE = "modern";"
A few years ago, as part of the 6.1.0 release I added a new code generation target, which was a subtarget of the Java code generation, primarily for GWT compatibility, but also to improve exception handling. I added an option called "JAVA_TEMPLATE_TYPE", leaving existing behaviour in tact under the banner of JAVA_TEMPLATE_TYPE            = "classic" (which was the default).

In order to get the ne

[2017-01-03 08:51] phax commented on #6
I like the modern template because it creates (in my case) much faster code. So I think it is a good thing to make it the default.
I also suggest to make `STATIC = false` the default when touching stuff.

[2017-02-08 13:57] MarcMazas opened #13 "Generation bug with javacode production"
Hi
Here is a Ok.jj file that produces a java file with no compile error and a small modification in Ko.jj that produces a java file with a compile error.
The while loop in a() seems missing some code and does not return; also the jj_la1 is an int[0] instead of int[1].
These grammars have been stripped down to the simplest from real useful grammars.
Marc
[Ko.jj.txt](https://github.com/javacc/javacc

[2017-02-16 15:48] abcdw opened #14 "Add links to javacc grammar repositories"

[2017-02-22 21:53] matozoid commented on #6
We from JavaParser have used the modern template for a while now and are not going back because of the error handling :)

[2017-02-22 22:13] zosrothko commented on #6
May be it would be interesting to get a feedback/acknowledge from Sreeni?

[2017-02-23 09:54] phax commented on #6
They have a separate JIRA setup somewhere and not disabled the issue tracking here....

[2017-02-23 10:31] matozoid commented on #6
Does anybody know where it is?

[2017-02-23 11:59] phax commented on #6
Original message was in https://java.net/projects/javacc/lists/users/archive/2016-09/message/10 to use JIRA at https://javacc.atlassian.net/ but that does not exist (any more).

http://javacc.org/contact -> support@javacc.org && https://www.facebook.com/groups/1121238771288445/

[2017-02-23 13:06] abcdw commented on #14
@zosrothko any updates?

[2017-02-23 13:28] zosrothko commented on #14
No. I am waiting for Sreeni to send me back all grammars from the Java.net web site, but nothing happened yet.

[2017-03-01 20:10] matozoid opened #16 "Move discussion to a public place - like here"
Please don't force people to use Facebook.

[2017-03-02 01:29] jeandersonbc commented on #16
There are some nice alternatives:
1. [Gitter](https://gitter.im/home)
2. [Slack](https://slack.com/)
3. Mailing list
4. IRC channel

Either option works fine and has been in use in many different open source communities.

[2017-03-02 06:08] MarcMazas commented on #16
I agree "please do not force people to use Facebook".
And
Is there anybody tasked to manage the issues ? (validating pull requests, fixing bugs, ...) ?

[2017-03-02 07:48] zosrothko commented on #16
@MarcMazas This is an open source projet and people that had a writer access to the old javacc.net project should have also the role of contributor here. If it not the case, please ask to kesav@viswanadha.net who is the administrator of this repo.

By the way, I just created a Slack team: javacc.slack.com: anybody can be a member, jsut give me your email address.

[2017-03-05 21:12] yusufmumani opened #17 "RCharacterList line 487"
Line 487 should be ((CharacterRange)newDesc.get(j)).setLeft((char)(range.getRight() + 1));
instead it is ((CharacterRange)newDesc.get(j)).setRight((char)(range.getLeft() + 1)); causing an overlapping character range to be deleted for it is folded inward, thus omitting it.

[2017-03-19 08:05] caizixian opened #18 "No helper scripts under bin/"
After unzipping https://javacc.org/downloads/javacc-6.0.zip , there's no help scripts like `javacc`, `jjdoc`, `jjtree` as mentioned on https://javacc.org/getting-started

[code]

[2017-03-22 08:22] MarcMazas opened #19 "Characters handling issues"
In a grammar file, in a java block, if you declare : char e = 'é';, you get an error:

in JavaCC 7.0 : org.javacc.parser.ParseException: Encountered " <ACT_TOK> "\' "" at line 85, column 9.

in JavaCC 5.0 : Exception in thread "main" org.javacc.parser.TokenMgrError: Lexical error at line 85, column 11.  Encountered: "\u00a9" (169), after : "\'\u00c3"

[2017-04-02 23:50] new-javacc commented on #1
I'm guessing we don't do that for special tokens. Could be a good enhancement.

[2017-04-03 15:04] engycz opened #22 "c++ generated parser doesn't support international characters"
How to reproduce the problem?
Download latest javacc source (master eb4455b)
build javacc with ant

Build C++ JavaGrammar example
`cd examples/JavaGrammars/cpp`
`make`

Parse java file from [HelloWorld.zip](https://github.com/javacc/javacc/files/890468/HelloWorld.zip)
`./javaparser HelloWorld.java`

Got several errors reported
[code]

Problem is with definition of JAVACC_CHAR_TYPE as **char** whic

[2017-04-03 15:29] zosrothko commented on #22
You can override the JAVACC_CHAR_TYPE by putting the define below before including JavaCC.h
[code]

[2017-04-03 16:20] new-javacc commented on #22
Interesting issue. I guess JAVA_UNICODE_ESCAPE or UNICODE_INPUT options should force char type to be unsigned char (or may be even uint16_t?). For now, you can do:

 make CXXFLAGS=-funsigned-char

as a workaround that makes at least javaparser work (not wjavaparser though - which uses wide chars).

[2017-04-04 16:18] new-javacc commented on #22
Actually, after more thinking, I feel we should simply use uint16_t to store chars internally for all computation. And avoid all strings in the parser and just use char arrays or index/offset into the input string for things like token image. There is really no other compelling reason for the parser to use strings. Let me know what you all think.

[2017-04-05 07:02] zosrothko commented on #22
I am not the owner of JavaCC and as such could not confirm/unconfirm your thoughts. Please ask Sreenivas Viswanadha <sreeni@viswanadha.net> whois the designer/owner of JavaCC

[2017-04-05 15:27] new-javacc commented on #22
Yes, that's me! :) I'm using the support alias for all things
javacc-related.

[2017-04-09 13:48] timp opened #23 "Commit history"
The commit history from this long running project has not been kept in the move to git/github. This information is important and a source of pride to the contributors. Please make every effort to retrieve it.

[2017-04-12 00:03] new-javacc commented on #23
Commit history *is* available. I can do git log and get all the history from java.net. Did you try it yourself?

[2017-04-17 11:22] timp commented on #23
I was expecting to see the history here https://github.com/javacc/javacc/commits/master

[2017-04-17 15:49] hackmann commented on #23
There I see commits going back to 2003.

[2017-04-17 18:02] new-javacc commented on #23
Yeah. Also looks like for most of the source code that was refactored
around 2013, there s no prior history.

--
JavaCC Support Team

[2017-04-18 13:47] lindenb opened #24 "javaCC inserts non-wanted statements"
cross posted at http://stackoverflow.com/questions/43469509/

I've got the following javacc grammar.

The rule UnaryExpr creates some anonymous classes implementing `java.util.function.Predicate<>`

[code]

when I'm generating the code using **javacc 7.0.2**, the generated java code contains some extra statements that break the code {if ("" != null). In the java file, instead or my original code:

[2017-04-18 14:16] new-javacc commented on #24
About the first issue - looks like you need to set the option:

LEGACY_EXCEPTION_HANDLING = false

to suppress the "" != null

As for the second issue - JavaCC currently does not support java 8
syntax. But my general suggestion to users is to avoid doing complex
stuff in the grammar and use a parser subclass or superclass to do these
things and make the parser actions to be simple method calls.

H

[2017-04-18 14:31] lindenb commented on #24
@new-javacc thanks for the quick answer. Bu it seems that this option doesn't exist anymore :
[code]

[2017-04-18 15:11] new-javacc commented on #24
Hmm, interesting. Looks like it was added sloppily. It seems to accept
it from the command line, not in the file. I will look into it.

In any case, the if ("" != null) check should be true always so I don't
see an issue with it. Why do you think it's a problem?

[2017-04-18 15:17] lindenb commented on #24
My problem is solved  if I move the creation of the Anonymous class to a static method between `PARSER_BEGIN/PARSER_END` . Sadly, it's extra code but it works.

@new-javacc javac isn't able  to compile this _(test must return a boolean)_:

`@Override public boolean test(final SAMRecord rec) { {if ("" != null) return rec.getDuplicateReadFlag();}}`

[2017-04-18 15:43] new-javacc commented on #24
YEah - that's what I was wondering. If you look at your original
grammar, you have a 4 otpions so the else part in the generated code
should be throwing a parse exception. So that should work fine.

[2017-04-18 15:46] new-javacc commented on #24
Just send me the generated code snippet for that method that causes
error and I will what's going on.

[2017-04-18 16:34] lindenb commented on #24
@new-javacc thanks, I'm away from my code for now, I'll send it tomorrow.
Otherwise, the jj file, before I moved the anonmous class to static, is here:

https://github.com/lindenb/jvarkit/blob/a86c8971fe5ebb3f8de175c75e78f2d0e5325cfd/src/main/resources/javacc/com/github/lindenb/jvarkit/util/bio/samfilter/SamFilterParser.jj#L273

[2017-04-19 15:18] theodore-norvell commented on #24
I still think this is an issue.  Why should the user need to use legacy exception handling to suppress the insertion of bad code?  The fact that the user needs to do a work-around indicates that there is a bug that needs to be worked around.

It seems to me that JavaCC is blindly rewriting all returns inside of Java blocks regardless of what subroutine the returns are returning from.  I'm sure the

[2017-04-19 15:32] zosrothko commented on #24
please ask @ainsley  his view on this issue. He made the changes on the exception handling.

[2017-04-19 16:26] new-javacc commented on #24
Yeah remember the code generator is dumb - it just tokenizes the Java code so it can't distinguish those two cases. With my new code generator (when it's done :)) this will be moot. And like I said I strongly suggest keeping the action code really simple like function call and do all complex processing outside the grammar itself.But I do agree this is an issue with no quick fix.On Apr 19, 2017 8:1

[2017-04-19 17:01] lindenb commented on #24
as requested, here is a minimal example:

[code]

output:

[code]

[2017-04-19 17:11] new-javacc commented on #24
Ok thanks! There might be a quick fix by changing it to also add: else throw errorTo every return in the code generator. Let me see if I can do it quickly.On Apr 19, 2017 10:01 AM, Pierre Lindenbaum <notifications@github.com> wrote:as requested, here is a minimal example:
options {
STATIC=false;
JDK_VERSION="1.8";
}

PARSER_BEGIN(Test)
import java.util.function.*;
public class Test {}
PARSER_END(T

[2017-05-27 04:36] andrewparmet opened #25 "Cannot change JAVA_TEMPLATE_TYPE"
When I pass `-JAVA_TEMPLATE_TYPE:modern` on the command line, I still get the legacy `Error` throws in the generated output code. I've been reading through the Options code and it looks like `NONUSER_OPTION__LEGACY_EXCEPTION_HANDLING` is [set in init](https://github.com/javacc/javacc/blob/master/src/main/java/org/javacc/parser/Options.java#L239) when it's [called in Main](https://github.com/javacc

[2017-05-27 04:45] andrewparmet commented on #25
I've found that I can specify that option if I include it in the `options` section of the jj file.

[2017-06-22 20:38] ftomassetti opened #26 "Is there any way to generate non-final methods for rule?"
For example, for a rule expression a method `final public Expression Expression() throws ParseException` is generated. I would need to have it not final because I am overrideing some methods later for a special parser which is template-aware

[2017-06-22 21:04] wumpz commented on #26
To be honest: I dont know.

[2017-06-23 04:07] new-javacc commented on #26
Hmm, I don't understand what you are trying to do and I don't think k it would work in general. Javacc generated methods are special as they have lookahead code, tree builder code etc intertwined with production calls. So you can't specialize a javacc grammar class.Sreeni.On Jun 23, 2017 2:08 AM, Federico Tomassetti <notifications@github.com> wrote:For example, for a rule expression a method final

[2017-06-23 05:48] ftomassetti commented on #26
Well, it would work because I can see it works if I manually change the
generated class. The problem is that that approach is not sustainable, so I
would like to subclass it.

What I do is defining marchers and templates for code, like:

'''
1 + $expression:myExpr
'''

In this case I am using the normal lexer to read the tokens 1 and +, then I
create a special token called PLACEHOLDER having as fa

[2017-06-23 12:15] yoghi commented on #18
Have you try this script :
[code]

from: https://stackoverflow.com/questions/17776132/getting-started-with-javacc/17780867

[2017-07-06 14:54] ftomassetti opened #27 "Documenting generated code"
I cannot find any documentation on the generated code, for example on the methods of the TokenManager.

Am I missing it or such documentation does not exist?

[2017-07-06 19:21] new-javacc commented on #27
https://javacc.org/apiroutines

--
JavaCC Support Team

[2017-07-06 19:47] new-javacc commented on #26
I'm still not sure you need to override the generate methods. You can do co-operating parsers to do it, I think. If you can post some code that you are specializing in the subclass, I may be able to offer a more elegant solution.

[2017-07-09 09:26] zosrothko commented on #14
@new-javacc Can you add all open sourced JavaCC grammars to the grammar directory?

[2017-08-04 16:02] andrewparmet commented on #25
Solved by including in the jj file as above.

[2017-08-04 16:02] #25 closed

[2017-08-31 07:57] phax opened #28 "Modern template creates non-compiling code"
Affects JavaCC 6.1.3 and 7.0.2

The line ` throw new RuntimeException("Missing return statement in function");` is not generated when the modern template is active (see `Options.isLegacyExceptionHandling()`)

The source of the error is https://github.com/javacc/javacc/blob/master/src/main/java/org/javacc/parser/ParseEngine.java#L709-L712
The "if" in line 709 must be removed, because currently the

[2017-08-31 07:58] phax commented on #6
When you want to make the modern template the default, please fix https://github.com/javacc/javacc/issues/28 before doing so - thx

[2017-08-31 21:09] matozoid opened #30 "Use @Generated annotation on generated code"
It would be nice to stop people from editing generated files, and to show where they came from.

--> https://docs.oracle.com/javase/7/docs/api/javax/annotation/Generated.html

[2017-10-23 08:59] wumpz commented on #28
When is this going to be solved? I want to use modern style, but in connection with jjtree it is not useable.

[2017-10-23 11:51] phax commented on #28
The pull request got merged, so it should be in the next release....

[2017-10-23 12:06] wumpz commented on #28
So when is the next release planned? :)

[2017-10-23 12:56] zosrothko commented on #28
I will make a new release soon: should be 7.0.3... But anyone that would like to publish it are welcome too

[2017-10-23 13:41] new-javacc commented on #28
I have a couple of fixes I want to merge before we release. I will get them in today.Also, @tobias you can just get the latest code and simply do 'ant' in the root to build a new javacc.jar if you are blocked on this issue.On Oct 23, 2017 5:56 AM, zosrothko <notifications@github.com> wrote:I will make a new release soon: should be 7.0.3... But anyone that would like to publish it are welcome too

[2017-10-23 19:11] new-javacc commented on #28
Ok I merged my changes. We can probably cut build 7.0.3 now.On Oct 23, 2017 6:41 AM, JavaCC Support <support@javacc.org> wrote:I have a couple of fixes I want to merge before we release. I will get them in today.Also, @tobias you can just get the latest code and simply do 'ant' in the root to build a new javacc.jar if you are blocked on this issue.On Oct 23, 2017 5:56 AM, zosrothko <notifications@

[2017-10-25 06:12] lvc opened #32 "API changes review for JavaCC"
The review of API changes for the JavaCC library since 3.2 version: https://abi-laboratory.pro/java/tracker/timeline/javacc/

The report is updated 3 times a week. Hope it will be helpful for users and maintainers of the library.

The report is generated by the https://github.com/lvc/japi-tracker tool for jars at http://central.maven.org/maven2/net/java/dev/javacc/javacc/ according to the article

[2017-10-31 07:42] zosrothko commented on #22
@new-javacc It would be less confusing to everybody involved/interested by JavaCC if you could use a surrogate more significant like `sreeni`  :-)

[2017-10-31 07:49] zosrothko commented on #22
@new-javacc  "I feel we should simply use uint16_t to store chars internally"... It is a starting point for supporting non ASCII based character point. But the best would be to support the whole [UTF-8](https://en.wikipedia.org/wiki/UTF-8) norm which can have `character point` encoded up to  **4 bytes**

[2017-10-31 13:20] new-javacc commented on #22
You are confusing between encoding and char type size. Javacc doesn't care about encoding. See the mailing list archives for discussion on this.On the other hand, there is the extended Unicode charset which needs 4 bytes. But the token manager needs to be extended to handle that. On Oct 31, 2017 12:49 AM, zosrothko <notifications@github.com> wrote:@new-javacc  "I feel we should simply use uint16_t

[2017-10-31 21:38] zosrothko commented on #22
"You are confusing between encoding and char type size. Javacc doesn't care about encoding"... May be I missed something or misunderstood.... Could you be more specific on this confusion?

[2017-11-01 00:40] new-javacc commented on #22
Basically javacc tokenizer just gets an array of characters and works on them. So any decoding should happen outside - before it reaches the charstream. For example, in java you specify the encoding when you create the reader.On Oct 31, 2017 2:38 PM, zosrothko <notifications@github.com> wrote:"You are confusing between encoding and char type size. Javacc doesn't care about encoding"... May be I mi

[2017-11-01 14:46] zosrothko commented on #14
Done in directory grammars

[2017-11-01 14:46] #14 closed

[2017-11-01 16:47] zosrothko opened #34 "Feature: allow the specification of the value for the parser constants"
Hi

For the C++ generation, JavaCC generates a ParserConstants file which is defining the token's kind as a list of  const int TOKEN = <integer> as for example:

With such TOKEN declaration:
[code]
JavaCC generates:
[code]
This issue is requesting to permit the customization of the integer value given to each token's const int as for example
TOKEN							:
{
  <#NA				: ~["-","\r","\n"] >

[2017-11-01 17:01] new-javacc commented on #34
I think this is unnecessary. You can just use the same name as the token name in the grammar. I think this is a gratuitous feature requestOn Nov 1, 2017 9:47 AM, zosrothko <notifications@github.com> wrote:Hi
For the C++ generation, JavaCC generates a ParserConstants file which is defining the token's kind as a list of  const int TOKEN =  as for example:
With such TOKEN declaration:
TOKEN							:
{

[2017-11-01 17:04] new-javacc commented on #34
Also with my pluggable/extensible codegen framework, yih cnabdo these things as add-ons so please keep javacc clean for now.FYI you will see some of my changes in the new branch csharo_codegenOn Nov 1, 2017 10:01 AM, JavaCC Support <support@javacc.org> wrote:I think this is unnecessary. You can just use the same name as the token name in the grammar. I think this is a gratuitous feature requestOn

[2017-11-02 16:54] zosrothko commented on #34
Anyway, I can use a external routine for matching the token type. It was a way to avoid misaligned values

[2017-11-02 16:54] #34 closed

[2017-11-02 16:58] new-javacc commented on #34
I'm still curious about the original issue you are trying to solve. So if you can describe it briefly, we can see if there is a better way to do it.On Nov 2, 2017 9:55 AM, zosrothko <notifications@github.com> wrote:Closed #34.

—You are receiving this because you commented.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-11-02 23:42] new-javacc opened #35 "C++ codegen seems broken"
Whoever is messing with C++ code generator - please doublecheck it with:

examples/JavaGrammar/cpp
just run make clean; make and make sure it compiles and also try and test the generated parser.

For example, right now, I get 100s of errors in the main branch. Looks like jjtree C++ code gen is hosed, Can whoever thinks broke it take a look? I will try and find the CR that broke it later tonight,

[2017-11-03 07:23] zosrothko commented on #35
I am the faulty guy.. Fixing asap...

Le 03/11/2017 à 00:42, JavaCC Support a écrit :

[2017-11-03 07:53] zosrothko commented on #35
Fixes pushed in master
cpp/javaparser.exe Test.java >Test.txt
[Test.txt](https://github.com/javacc/javacc/files/1440342/Test.txt)

[2017-11-03 16:21] zosrothko opened #36 "PEG: Extends JavaCC to support the PEG paradigm"
Hi

[Bryan Ford](https://pdos.csail.mit.edu/papers/parsing:popl04.pdf) has proposed a different way to parse language expressed by a BNF like grammar, known as PEG. This request is proposing to use the code base of JavaCC to provide the generation of PEG parser/lexer in Java and in C++. The syntaxe of PEG grammar is somewhat exotic and an alternative grammar syntax know as LEG much closer to the E

[2017-11-03 17:27] new-javacc commented on #36
Sounds interesting.If you are planning to do any work for this, I suggest keeping it completely separate from the main line. Like I said in a separate thread, I'm trying to keep the processing part of the grammar *completely* different from the code generatora, preprocessors etc. So please keep that in mind.Sreeni.On Nov 3, 2017 9:21 AM, zosrothko <notifications@github.com> wrote:Hi
Bryan Ford has

[2017-11-03 20:39] matozoid opened #37 "Make a release"
We're all waiting :-) https://github.com/phax/ph-javacc-maven-plugin/issues/2

[2017-11-03 21:24] kaikalur commented on #37
Guys, my current level of confidence in the 7.x version is very low. It seems to be broken - especially for C++. So I'm not sure how to proceed. I'm working on something different - like C# code generator etc. that will hopefully streamline the code base so that code generators can be done completely outside instead of the 100s of weird/bad options (like LEGACY_EXCEPTION_HANDLING which I dislike v

[2017-11-03 21:43] phax commented on #37
A minor level release would really be appreciated.
So a 7.0.3 release with just my PR and maybe other general patches would do the trick and remove the pressure - can you do that?

[2017-11-04 07:05] zosrothko commented on #37
@new-javacc Did you finish to merge  your changes in the master branch so that I can push a release to MAven Central?

[2017-11-04 07:24] kaikalur commented on #37
Not sure what you mean by that. I'm not sure current 7.x is in a good shape to push.That's why I'm thinking we just take the two simple fixes that they are talking about On Nov 4, 2017 12:05 AM, zosrothko <notifications@github.com> wrote:@new-javacc Did you finish to merge  your changes in the master branch so that I can push a release to MAven Central?

—You are receiving this because you comment

[2017-11-04 07:29] zosrothko commented on #37
@kaikalur "Not sure what you mean by that. I'm not sure current 7.x is in a good shape to push." Can you elaborate/explain? Have you counter examples of JavaCC grammar for C++ that do not work?

[2017-11-04 09:15] zosrothko commented on #37
There is already a staging  [JavaCC 7.0.3 artifact](https://oss.sonatype.org/content/repositories/netjavadevjavacc-1010). The final release to Maven Central depends on Sreeni's go answer.
[code]

[2017-11-04 15:06] new-javacc commented on #37
(Sorry guys, @kaikalur is also me. By mistake I posted from the other
account).

That's not how this works. The three times I tried the c++ version over
the last month, I found 3 issues. That makes me think I should
thoroughly review the new C++ code generator. AND make it a beta. I see
significant changes and I  want to make sure they are safe - C++ is
especially nasty.

So my suggestion would be

[2017-11-04 16:05] zosrothko commented on #37
@new-javacc can you create the 7.1.0 branch from master?

[2017-11-04 16:59] phax commented on #37
No problem.

does the trick for me :)
So just take the 7.0.2 release, apply PR #29 and everybody is happy 😄

[2017-11-04 17:49] zosrothko commented on #37
@phax You are right except that I do not have write access anymore ... @new-javacc will have to do it as well as the release to Maven

[2017-11-04 18:12] kaikalur commented on #37
Sorry guys! I will restore access to @zosrothko ASAP so he can do it.
I'm busy right now with some other stuff and also I'm not 100%
comfortable working with github (I'm old :()

Sreeni.

[2017-11-04 19:00] new-javacc commented on #37
And I also suggest using  pull requests to merge into any core javacc
changes from now on so that I can keep an eye on things. Thanks!

[2017-11-05 03:54] new-javacc commented on #37
Hello all,

I just re-added @zosrothko as a contributor to this repository.

Thanks,
Kesav

[2017-11-05 12:44] kaikalur commented on #37
Thanks, Kesav!@zosrothko, please go ahead and release 7.0.3.On Nov 4, 2017 8:54 PM, JavaCC Support <notifications@github.com> wrote:Hello all,
I just re-added @zosrothko as a contributor to this repository.
Thanks,
Kesav

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-11-06 16:03] zosrothko commented on #37
JavaCC 7.0.3 released on GitHub and in Maven Central

[2017-11-06 18:39] matozoid commented on #37
Thank you all!

[2017-11-06 18:41] new-javacc commented on #37
Thank you, @zosrothko!

[2017-11-06 19:14] #37 closed

[2017-11-07 15:26] phax commented on #37
https://javacc.org/download is still referncing v6 :)

[2017-11-19 07:14] zosrothko commented on #35
Fixed in 7.0.3

[2017-11-19 07:14] #35 closed

[2017-11-19 07:24] zosrothko commented on #16
Discussion can happen on Slack team: `javacc.slack.com`. The Google group  `comp.compilers.tools.javacc` seems totally spammed. Any other tool?

[2017-11-19 07:33] #16 closed

[2017-11-19 17:42] new-javacc commented on #16
??? That's the really old newgroup from more than 10 years ago. It's
been long dead.

We now have the  google group:  groups.google.com and look for JavaCC.

[2017-11-19 18:18] new-javacc commented on #16
Well, I just created that slack team :) So may be we can move the
discussions to that channel.

[2017-11-19 20:08] zosrothko commented on #16
"Well, I just created that slack team" Do not understand: the `javacc.slack.com` team was created on 2017/03/02... see above!

[2017-11-19 20:10] new-javacc commented on #16
Hmm, that's weird. It did let me "create".

Anyway, it's good. I now see there are 4 people on there. Yeah sounds
like a good platform for design discussions.

[2017-12-13 18:03] wltjr opened #40 "javacc requires itself to build, bootstrap issue"
It seems javacc is using its own solution to build itself. This is not really ideal as it creates a chicken and egg situation requiring use of a pre-built binary. Ideally there should be a clean solution to build from source. This maybe possible going back to an older version and chaining up from there. I have no problem with javacc using javacc for non-core aspects. But the initial build should n

[2017-12-13 18:43] new-javacc commented on #40
??? That's what we do. We use the previous version to built the current
version. I don't understand what the issue is.

[2017-12-13 19:09] wltjr commented on #40
There is no clean way to build from source without requiring a [previously built binary](https://github.com/Obsidian-StudiosInc/os-xtoo/blob/master/dev-java/javacc/javacc-9999.ebuild#L51). Which at that point, what is the point in building from source? If you have to use a pre-built binary. Might as well just run that binary.

It is not just javacc, many java projects seem to have circular depende

[2017-12-13 19:16] new-javacc commented on #40
Not sure what you are talking about here. This is bootstrapping 101. We
built a small core subset of javacc first and then bootstrapped using it
to build the next version. That's pretty well-understood development
paradigm.

[2017-12-13 19:32] wltjr commented on #40
The bootstrapping concept needs to end and die is what I am saying. Software needs to stop requiring bootstrapping, IMHO. It is not a well understood paradigm, if anything it maybe a Java specific paradigm. I rarely see this in other languages. Short of a core/base system, in Unix, glibc, gcc, binutils, etc. The bootstrapping paradigm needs to end. It is not good. It makes it almost impossible to

[2017-12-13 19:34] new-javacc commented on #40
A least in the area of compilers - it is pretty basic. I'm sure you need
gcc to build n old version of gcc. Check out the following thread:

https://stackoverflow.com/questions/9429491/how-are-gcc-g-bootstrapped

This has nothing to do with java. I do agree that it's not an easy
concept for many people but it's very effective way to do certain things.

[2017-12-13 19:44] wltjr commented on #40
That is core stuff for obvious reasons. Javacc does not have to use itself to build itself. Those javacc files could be coded in regular java. Such that it could build entirely from source. Or at least the core, and then use what was built to process any javacc files.

IMHO it seems people are to eager to use their new shiny syntax, rather than Java code which it runs on. There is no need like in

[2017-12-13 19:50] new-javacc commented on #40
Of course javacc is a "compiler" that compiles javacc to Java code. It
will be stupid to hand-code any improvements to javacc syntax in each
version. Your argument holds zero value for JavaCC.

[2017-12-13 20:09] wltjr commented on #40
Again javacc does not have to use javacc code to build itself. JDK/javac is a compiler that can be built from source. So your saying it would be impossible to build Javacc using 100% pure java code? I do not believe that to be the case at all.

That seems to be more a deficiency of authors than the Java language. Which Java can build itself from source. I find it really hard to understand anything

[2017-12-13 20:10] matozoid commented on #40
@wltjr - I wish you good luck in your crusade against bootstrapping. We all need our pet peeves!

[2017-12-13 20:16] wltjr commented on #40
@matozoid Thanks :) But not really a crusade. Just going to bring it up and let upstreams decide. They have a choice to make software development better and friendlier to others or not. Seems most only care about their own needs not others. I am myself a selfish FOSS developer. But I would not ignore or not care about the needs of others using my stuff. I see that as a sign of being receptive to o

[2017-12-13 21:02] wltjr commented on #40
To conclude, if javacc could consider one of the following approaches. That would be greatly appreciated!

1. Modify code so that javacc is not required to build javacc.
2. Generate files from javacc as part of release, like is done on maven sources. Not sure how feasible to do in repo with direct tarball download. If I use maven sources its not an issue. If the tarball can be made similar to that

[2017-12-13 21:29] new-javacc commented on #40
1 is a nonstarter. 2 is doable. Not sure about 3. I don't even understand the proposal.On Dec 13, 2017 1:03 PM, William L Thomson Jr <notifications@github.com> wrote:To conclude, if javacc could consider one of the following approaches. That would be greatly appreciated!
Modify code so that javacc is not required to build javacc.Generate files from javacc as part of release, like is done on maven

[2017-12-13 21:54] wltjr commented on #40
FYI 1 and 3 are part of the recommended solutions to the [chicken and egg problem](https://en.wikipedia.org/wiki/Bootstrapping_(compilers)#The_chicken_and_egg_problem) Javacc is already coded in Java mostly. That it requires javacc for itself seems to go against recommended solution to the problem created. Why it starts with saying use language X for Y. Which is what Groovy and others are doing. E

[2017-12-14 05:54] MarcMazas commented on #40
Hello William
Could you explain in which way using a javacc previous version as a bootstrap in the building process prevents you from fully audit the javacc newly built version (security, modifications…)?
When you audit a source code version you do not audit the developer or the IDE or the generator that wrote the code, don’t you? You do not try to foresee what could be the next version of that so

[2017-12-14 06:13] wltjr commented on #40
@MarcMazas if there was a version of javacc I could build and then use that to bootstrap javacc I would be fine. There is no way to audit a binary jar. Which seems going back many versions there is no clean from source. I am working on this for other stuff, like [jflex and javacup](https://github.com/jflex-de/jflex/issues/271#issuecomment-351591437). I have found a old version of javacup, 10k that

[2017-12-14 06:22] new-javacc commented on #40
I'm pretty sure we never released that very first seed version as we did
it when we were working at Sun Micro and by the time we open sourced it,
it was already bootstrapped. And that's the only version that's
available in the open source.

[2017-12-14 06:30] wltjr commented on #40
I kind of like the idea of having it generated and committed to vc between tags/released. Like anytime the javacc source files change, then run javacc against them. That helps out considerable and eliminates the need for any past versions. Then you can do straight javac, and you have a current javacc  to do with as you desire :) That is done for maven, just not other tarballs, or committed to vc.

[2017-12-14 06:45] MarcMazas commented on #40
Well, in that case things look simple: I do not see why using the javacc previous version instead of using that old “bootstrap.jar” version would not work. The test should not be difficult ☺.

I do this for JTB, which is a superset of JavaCC. The only annoying thing is that when I change the (JTB) grammar, I must check that the generated parser works well and one good way is to try to generated th

[2017-12-14 06:51] wltjr commented on #40
@MarcMazas that is what I am [doing now](https://github.com/Obsidian-StudiosInc/os-xtoo/blob/master/dev-java/javacc/javacc-9999.ebuild#L51) but its not really ideal. It is some what nice that the needed bootstrap jar is within the sources. Normally dislike bundled binaries. Though when it is from the same upstream its a bit different. Still no way to see what is in that binary, just have to run it

[2017-12-14 07:17] MarcMazas commented on #40
By the way, there is a bunch of methods and classes generated by JavaCC that are not used by JavaC on parsing a grammar and generating a parser. Some look like old debug methods (dump* in SemanticChecker, LexGen. UnicodeConverter). The tool UCDetector helps finding them. For unused public classes it is little more difficult to point them (ExpansionTreeWalker, TreeWalkerOp, JavaFiles, LookaheadCalc

[2017-12-14 07:28] wltjr commented on #40
That is good to know. I just generate what ever is needed to build. Likely could be optional parts not needed. Mostly needed as other projects have their own javacc source files. Not sure many compile against javacc, just use the compiler. Just use this to build other stuff :)

[2017-12-15 19:03] ftomassetti opened #41 "Modular composition of grammars"
[Here](https://javacc.org/tutorials/errorrecovery) it is stated:

"In a future version of JavaCC we will have support for modular composition of grammars"

I would love to hear more about that because this would help us a ton at [JavaParser](github.com/javaparser/javaparser) to support the possibility of extending Java.
Any concrete plan for that? Any hackish way we can achieve that with the curre

[2017-12-15 19:08] ftomassetti opened #42 "Update readme"
The Readme reads "Copyright (c) 2006, Sun Microsystems, Inc.".
As far as I know Sun does not exist anymore, should that be updated?

Moreover, should the file be converted to Markdown?

[2017-12-15 19:13] ftomassetti opened #43 "Consider setting up continuos integration with Travis CI"
In this way tests would be running for every Pull Request

[2017-12-15 19:23] new-javacc commented on #41
I'm not planning on doing it. But if someone is interested,  I will be
glad to help. IMO, this has limited practical value as it's hard to get
it right.

On 12/15/2017 11:03 AM, Federico Tomassetti wrote:

[2017-12-17 10:05] ftomassetti commented on #43
To do this we need two thingsL

1. Someone who is a member of the repository needs to register on travis-ci.org and enable Travis integration for this repository
2. We need to create a build script for Travis

I can do number 2 if someone does number 1 first. @zosrothko can you look into this?

[2017-12-17 10:18] wumpz commented on #28
Why is this still open? Merge and release 7.0.3 as lready done.

[2017-12-17 15:23] #28 closed

[2018-01-27 10:45] oowekyala opened #44 "[New feature] Generic visitor generation"
Hi,

I'm from the dev team of [pmd](https://github.com/pmd/pmd), where we use javacc to generate ASTs for several languages. AST visitors are pervasive in our codebase, and we'd like to take steps to make them more typesafe and rely less on Object. We've been discussing this at pmd/pmd#880 but I'll synthesize everything here

### Feature

We'd like javacc to be able to generate generic visitors, t

[2018-02-21 09:06] wumpz commented on #41
Is there some kind of spec what is / should be supported for modular composition of grammars?

[2018-04-16 08:12] zhztheplayer opened #47 "Is there any way to reuse a node in different lookaheads?"
Hi.
I have a performance issue when use JavaCC, and I then check the JavaCC documentation but still not able to solve it.

When the next incoming node is something "side unsplitable" (which means could not be separate to a left part and right part), it could be treat as a whole, and is able to be reused in looking different aheads.

For example, I have a SQL "SELECT func(func(func(func()))) FROM t

[2018-06-07 06:15] eduarddrenth opened #48 "escaping generates faulty code"
Dear all,

I have this:

`|   <VALUE: ( ~[",",")","|"] )* ~["\\",",",")","|"] >`

which results in this:

[code]

Am I doing something wrong? This works with maven plugin 2.6 / javacc 5 and 6.

perhaps this issue is for ph-javacc-maven-plugin 4.0.3.

Bye

[2018-06-07 15:03] new-javacc commented on #48
Which version of JavaCC are you using? Do you have a test case?

The code is optimized by merging some arrays etc.so you can't really
tell from the code. Did you  try DEBUG_TOKEN_MANAGER option?

On 06/06/2018 11:15 PM, Eduard Drenth wrote:

[2018-06-07 20:30] eduarddrenth commented on #48
the issue is with using ph-javacc-maven-plugin 4.0.3. Don't know which version of javacc that uses.

tried commandline javacc 7.0.3, that does not generate faulty code, same function as  above now looks like:

[code]

[2018-06-07 20:37] #48 closed

[2018-06-30 00:36] ramsestom opened #49 "java.lang.IllegalArgumentException when parser used in eclipse"
I am trying to use a javaCC generated parser into a CodenameOne (https://www.codenameone.com/) java application. The proplem I have is that, when I run this app from Eclipse, the parser throw the following error:
[code]
Now, where this is weird is that if I run the exact same application from inside Netbeans, everything works fine! (the parser do not throw any error and the String I am giving it i

[2018-07-05 01:58] ramsestom commented on #49
Fixed. Was actually an issue with codenameone not supporting the full StringBuilder API

[2018-07-05 01:58] #49 closed

[2018-07-31 21:22] nickl- opened #50 "Modernise SimpleNode accessibility"
I just realised that I don't know anything about the politics or reasons behind the fork. So there is no reason why I shouldn't also extend this offer to you.

If you see value in what I am suggesting at phax/ParserGeneratorCC#16 I could also roll the patch here.

[2018-09-10 19:20] zosrothko opened #54 "javacc-8.0.0: IOException: Invalid template name: /templates/cpp/TokenManagerBoilerPlateMethods.template"
HI

Testing the new javacc-8.0.0 code generator for c++

[code]

[2018-09-10 20:11] kaikalur commented on #54
Are you trying Markus's changes from the csharp_code_generator branch?

[2018-09-11 06:17] zosrothko commented on #54
Yes, I am testing the csharp_codegen branch

[2018-09-12 14:58] zosrothko commented on #54
Fixed. below the result:
[code]

[2018-09-12 14:58] #54 closed

[2018-09-12 15:17] zosrothko commented on #54
Works also with wjavaparser.exe
[code]

[2018-09-12 17:31] zosrothko opened #56 "8.0.0/cpp: SimpleNode is not generated anymore"
Hi

Be;low the classes generated by JavaCC 7.0.2
[code]

and below, the classes generated by JavaCC 8.0.0:
[code]

The SPL.jjt grammar: [SPL.jjt.txt](https://github.com/javacc/javacc/files/2376221/SPL.jjt.txt)

[2018-09-13 00:17] new-javacc commented on #56
Love it! More c++ way of do things.On Sep 12, 2018 10:31 AM, Francis ANDRE <notifications@github.com> wrote:Hi
Be;low the classes generated by JavaCC 7.0.2
Z:\git\SPLC\JJTree\VST>..\..\gradlew compileJJtree
:JJTree:VST:compileJjtree
Java Compiler Compiler Version 7.0.2 (Tree Builder)
(type "jjtree" with no arguments for help)
Reading from file Z:\git\SPLC\JJTree\VST\jjt\SPL.jjt . . .
opt:c++
File

[2018-09-13 06:33] zosrothko commented on #56
For people interested in building C++ software using JavaCC and Gradle, the SPL stuff is there:
[JTB-JavaCC](https://github.com/jtb-javacc/SPLC)

[2018-09-14 14:42] mbrigl commented on #56
Made a check if the behavior is caused due the work on C++ codegenerator, but I get the wrong result already with the first commit of the csharp_codegen branch.

[2018-09-14 18:31] mbrigl commented on #56
Seems to be related to commit [d7305f237d8216cad640b21cab8451b7109adb48](https://github.com/javacc/javacc/commit/d7305f237d8216cad640b21cab8451b7109adb48). The commit before example works.

[2018-09-15 14:32] kaikalur commented on #56
Hmm OK. Let me check it out. It does work fine in C# though. I think I merged everything into a single file.

[2018-09-16 10:50] zosrothko commented on #56
Ok... In JavaCC 7.0.3 all AST nodes and SimpleNode were generated in their own files. With JavaCC 8.0.0, all are in the ParserTree as you mention. By the way, the generated code is wrong (jjtn000 is pointer, not a reference)
[code]
and I already corrected this issue in the past. It seems that all my changes for getting a working JJTree generation are lost. @new-javacc ??

[2018-09-16 14:53] kaikalur commented on #56
I don't understand the question. Working jjtree for which version? 8.0
definitely works. Are you talking about 7.x? I thought it worked there
too. In fact, I fixed it in 7.x and copied the stuff over when I was
working on C#, IIRC.

[2018-09-16 16:28] kaikalur commented on #56
Oh, this is one of those cache token options. I remember it now. Sure go
ahead and fix it. And I thought we merged the fix from Markus. Kesav?

[2018-09-16 17:28] zosrothko commented on #56
I am currently fixing this stuff in JavaCC 7.0.4..; Hold on some hours before the delivery on Maven Central

[2018-09-16 18:16] zosrothko commented on #56
Ok, there is now a branch name 7.0.4 with fixes I made the past years when I was working on the C++ generation. This version is only about c++ generation and none of the Java generation stuff. Could you  @new-javacc and @mbrigl  look at it from the c++ generation point of view and let me know if it is ok to publish this version?

[2018-09-16 20:03] zosrothko commented on #56
See PR ##59. In fact, the 7.0.3 was already embedding most of my past years development. Only few minor fixes were added as displayed by the PR ##59.

[2018-09-17 12:58] zosrothko opened #61 "JavaCC 8.0.0: NPE at org.javacc.cpp.todo.NfaState.DumpMoveNfa(NfaState.java:2818)"
Hi

With latest JavaCC 8.0.0, one got
[code]

[2018-09-17 18:17] mbrigl commented on #61
Where can I find asn1cpp\code\ASN1Parser\Parser.jj?

[2018-09-17 19:33] mbrigl commented on #61
All of the jj files in _grammars_ have Java Code Production and don't work for C++

[2018-09-18 04:47] new-javacc commented on #61
Your can try the grammar repository:https://javacc.org/grammar-libraryOn Sep 17, 2018 12:33 PM, Markus Brigl <notifications@github.com> wrote:All of the jj files in grammars have Java Code Production and don't work for C++

—You are receiving this because you are subscribed to this thread.Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-18 06:54] zosrothko opened #62 "8.0.0: CPPCODE is not anymore recognized"
Hi

The following snippet that compiles fine with 7.0.4
[code]

does not compile anymore with 8.0.0
[code]

[2018-09-18 14:57] new-javacc commented on #62
This is by design. In 8.x, I don't want any traces of language specific
stuff. Look at the JavaCC.jj file. We now call it: CODE_RULE

Sreeni.

[2018-09-24 04:22] mbrigl opened #65 "JavaCC 8.0.0: Table driven token manager dosn't handle ignore case"
The new table driven token manager ignore the definition IGNORE_CASE on tokens.

E.g. following definition will generate a parser that can parse _null_ but not _NULL_

`// Constants Tokens
TOKEN [ IGNORE_CASE ] :
{
  < NULL_TOKEN : "null" >
}
`

[2018-09-24 05:08] new-javacc commented on #65
Did you test it with the interpreter?

[2018-09-24 08:49] #61 closed

[2018-09-24 18:16] mbrigl commented on #65
Yes, I tried it.

Parsing `null`
[code]

Parsing `NULL`

[code]

If you look at the _RStringLiteral.UpdateStringLiteralData_, it cannot work there is no information about case insensitive tokens to build the NFA. It handles only case insensitive globally if the option IGNORE_CASE is set

[2018-09-24 22:59] new-javacc commented on #65
Looking

[2018-09-24 23:05] new-javacc commented on #65
It works with -NO_DFA option. So the issue is when we generate the DFA for a string literal, we are not handing the IGNORE_CASE on token properly. Will fix it

[2018-09-24 23:53] new-javacc commented on #65
OK A solution is to add another boolean array to the TokenizerData class and record any string literals that are token level ignore_case and then we can handle it in the driver to lower case the input.

[2018-09-25 12:30] #62 closed

[2018-10-23 08:21] vlsi opened #72 "SimpleCharStream.ExpandBuff has O(N^2) behavior for large tokens"
This is due to SimpleCharStream.ExpandBuff(boolean) increasing the buffer in increments of 2,048 (2k) chars. If the SQL string is, say, 1,024k characters, then it will re-alloc at size 2k, 4k, 6k, ..., 1023k, and each time copy the whole string.

see https://issues.apache.org/jira/browse/CALCITE-2636

[2018-10-23 20:13] julianhyde commented on #72
Thanks for logging this, @vlsi.

There's a fix/workaround in Calcite that exploits the fact that the Reader is a StringReader, and if so, calls ReInit to slurp the whole string into the SimpleCharStream.

But a better fix would be for SimpleCharStream to grow itself by a factor (say, doubling in size each time).

[2018-10-26 04:59] new-javacc commented on #72
If a reader is a stringreader, the whole buffer thing is useless. Your
reader *is* your buffer. So I suggest just implementing the CharStream
interface (USER_CHAR_STREAM). Feel free to contribute that. I"m sure
someone did in the old list.

[2018-12-13 11:30] HoldYourWaffle opened #77 "javacc.org is out of date"
The [javacc.org](https://javacc.org/download) site still promotes javacc 6.
While searching for why this would be the case, I found out that there's a javacc 8 in development. Is this stable for use?

[2018-12-13 12:15] zosrothko commented on #77
You could use the latest stable version javacc-7.0.4 available on [Maven Repository](https://mvnrepository.com/)

[2018-12-16 05:49] costabas commented on #77
Yes, please update the site. I thought the product is dead until I found the git repository.

[2018-12-16 05:54] costabas opened #78 "Branches/Tages to differentiate versions"
I noticed that the git repository doesn't have branches or tags to specify the respective versions.

Can you please start using tags/branches so we exactly what version we are using?

Thanks

[2018-12-16 05:58] costabas commented on #78
Never mind, sorry, there are branches - I had javascript disabled in FF and the page didn't show all the branches in the dropdown, and I thought there are no branches. Upon more inspection, I found the issue and of course there are branches!

I apologize.

[2018-12-16 05:58] #78 closed

[2018-12-17 22:33] MarcMazas opened #79 "LOOKAHEAD in ExpansionUnit never reached"
Hi all

The JavaCC grammar file description states:
expansion ::= ( expansion_unit )* // by the way it is +, not *
expansion_unit ::= local_lookahead | java_block | ...

But the JavaCC.jj file states (in the same notation):
expansion ::= ( local_lookahead )? ( expansion_unit )+ // referred LLE
expansion_unit ::= local_lookahead | java_block | ... // referred LLEU

But by tracing, code coverage...

[2018-12-19 08:44] MarcMazas opened #80 "Generated code does not compile when missing lookahead in try / catch"
Hi

grammar .jj:

void ko() :{}{
  try { "A" "B" | "A" "C" } // -> warning common prefix "A" use lookahead of 2
  catch (Exception e) { System.out.println("... Should not occurr " + e); }
}
void ok() :{}{
  try { LOOKAHEAD(2) "A" "B" | "A" "C" }
  catch (Exception e) { System.out.println("... Should not occurr " + e); }
}
void ko1() :{}{
  try { LOOKAHEAD(1) "A" "B" | "A" "C" } // note 1, not 2

[2018-12-19 12:48] MarcMazas opened #81 "JavaCC parser fails on try no catch nor finally"
Hi
a try / catch / finally  must contain at least on catch or one finally but JavaCC fails with a NPE after the error message
grammar .jj:
void ko2() :{}{
  try { "C" }
}
Output:
     [java] Java Compiler Compiler Version 7.0.0 (Parser Generator)
     [java] Warning: Line 10, Column 3: Command line setting of "OUTPUT_DIRECTORY" modifies option value in file.(type "javacc" with no arguments for hel

[2018-12-20 05:52] MarcMazas commented on #81
Fix is simple:
in
void Expansion(Container c1) :
...
  ( LOOKAHEAD(0, { notTailOfExpansionUnit() } )
    expansion_unit(c2)
      if (c2.member != null) { // fix
	{
	  seq.units.add(c2.member);
	  ((Expansion)c2.member).parent = seq;
	  ((Expansion)c2.member).ordinal = seq.units.size()-1;
	}
} // fix
  )+
...

[2019-01-03 16:49] inponomarev commented on #43
👍 more than a year passed, but the project still certainly needs the CI

@zosrothko all you need is just enable Travis build for the project. If @ftomassetti is not available now, I can help with number 2.

[2019-01-04 08:14] zosrothko commented on #43
@new-javacc Could you grant me access to the javacc project for Travis CI.
`Access request pending @javacc `

[2019-03-12 10:06] inponomarev commented on #72
Just found out that my own project is also affected by this issue. Buffer expansion-with-copying is a very familiar performance bug pattern, AFAIK this can be effectively fixed the following way:

1. change `char[] buffer` to `ArrayList<char[]> buffer`
2. change expand-with-copying to `buffer.add(new char[CHUNK_SIZE])`
3. change `buffer[i]` access to `buffer.get(i / CHUNK_SIZE)[i % CHUNK_SIZE]`.

[2019-03-12 14:15] MarcMazas commented on #81
Ok, looks to have been fixed between versions 7.0.0 & 7.0.4.

[2019-03-12 14:15] #81 closed

[2019-03-18 07:28] MarcMazas commented on #79
Hi Sreeni. This issue should be easy for you. Can you take 1 mn to answer me (i.e. tell either that
- no I am wrong; here is an example showing the local_lookahead in expansion_unit is matched, or
- yes I am right, and the JavaCC.jj grammar could be just:
expansion ::= ( local_lookahead )? ( expansion_unit )+
expansion_unit ::= java_block | ...
TIA. Marc

[2019-03-23 19:46] inponomarev commented on #72
Alright, here's what I have. Before:
![before](https://user-images.githubusercontent.com/20153286/54870837-f0c2cf00-4dbc-11e9-98f7-d71f682e4b9d.png)
and after:
![after](https://user-images.githubusercontent.com/20153286/54870838-f4565600-4dbc-11e9-866e-ccab591008e3.png)

In my test case parsing time of a SQL script with a 5Mb-long char literal reduced from 35 seconds to 15 seconds. Not a perfect r

[2019-03-23 19:49] new-javacc commented on #72
Sure you can fix it. But I would approach this issue differently. Just rewrite your grammar to use lexical states for matching char literals! That's more elegant/readable and gives you a lot of control on how to handle the token and error reporting. Look at the many examples that are in the repo and/or mailing list for ideas.

[2019-03-23 19:52] new-javacc commented on #72
BTW, I posted many times String reader based charstreams that don't actually use any buffer. You should look at those.

[2019-03-23 20:43] inponomarev commented on #72
Hmmm! The idea about lexical states seems promising. I will check it out.

[2019-03-23 20:45] inponomarev commented on #72
As for Stringreader-based charstreams, will you please give a link? I don't know where to search for it.

[2019-03-30 11:49] zhztheplayer opened #86 "minimumSize=1 generated for choice that contains child with zero size"
Following code lines seem to cause lookahead problems:

https://github.com/javacc/javacc/blob/ca275162a5d98d3bd4f2317efd9c19ad2144b5ef/src/main/java/org/javacc/parser/ParseEngine.java#L1377-L1381

The minimum consumed size will be limited to at least 1 for a choice. As a result sometimes the lookahead is finished too early. E.g. consider an production:

[code]

If the input tokens is `<BAR> <BAR>`

[2019-04-04 18:45] julianhyde commented on #86
This issue is affecting Apache Calcite's SQL parser (specifically, our efforts to reduce default lookahead from 2 to 1). See https://issues.apache.org/jira/browse/CALCITE-2847.

We have a workaround but would be grateful if the fix could be included in the next version of JavaCC.

[2019-04-05 05:07] new-javacc commented on #86
OK. I think you guys misunderstood what LOOKAHEAD(2) means. It means max lookahead 2. Since you have Empty in the first choice, that will trivially match and then there is BAR so it's correct. This bug is invaid and please undo the change.

[2019-04-05 05:08] new-javacc commented on #86
This bug is invalid.

[2019-04-05 05:08] #86 closed

[2019-04-05 05:10] new-javacc commented on #86
Also note that JavaCC takes choices in order they are in the input grammar.

[2019-04-05 06:27] zhztheplayer commented on #86
Thanks for your reply, @new-javacc!

I am totally with you with the fact that "LOOKAHEAD(2) means max lookahead 2", but unfortunately I am still confident with the existing of the issue. :(

LOOKAHEAD(x) means JavaCC should scan on no more than x tokens, I think this is definitely by the design of JavaCC fundamental. But the issue is not about the runtime execution of lookahead, it's about whether

[2019-04-05 06:51] new-javacc commented on #86
OK but one more thing you should remember is that {} is NOT empty.
Action block is an expansion unit with no lookahead. So (<FOO> | {} ) is
not same as [ <FOO> ], I don't think. But let me double check tomorrow.

[2019-04-06 04:12] zhztheplayer commented on #86
Thank you very much @new-javacc ! Looking forward to any feedback on this.

[2019-04-06 04:40] #47 closed

[2019-04-10 12:29] zhztheplayer commented on #86
@new-javacc - Is there any progress about this? It would be good if we can reopen this issue so that we don't forget resolving it.

[2019-05-06 06:28] wumpz opened #90 "Is there a possibility to switch off tokens via options?"
I have the need to build a parser for two different language versions. I want to avoid to build two parsers and have two grammar files. Using semantic Lookahead one is able to switch production on/off. The same would be nice for tokens.

I tried token modes, but in reality, I have multiple options/flags that could be combined. Therefore this is not a valid way.

As mentioned I would like to skip t

[2019-05-06 06:39] wumpz commented on #90
Or maybe there is the possibility to change tokens via options. For example, I have in mind to have a token for string literals. I want two methods to insert a quote, one by doubling the quote and one by a backslash:

'abc''abc'
'abc\'abc'

Is it possible to build a token that would depend on a token manager option only one of these types accept?

[2019-05-06 18:11] new-javacc commented on #90
I'm not sure I understand the issue here. You can have both tokens in the same grammar and use lexical action to accept/reject it. If you can explain clearly what you are trying to do, I can give you better ideasOn May 5, 2019 11:39 PM, Tobias <notifications@github.com> wrote:Or maybe there is the possibility to change tokens via options. For example, I have in mind to have a token for string lite

[2019-05-07 11:32] wumpz commented on #90
I read the documentation about lexical actions. The problem here is, that this action is executed after the TokenManager has processed a token, to modify the returned one. I want the TokenManager not even recognize the "skipped" token, but process another valid one.

This issue / question resulted from https://github.com/JSQLParser/JSqlParser/issues/677.

There is a token accepting all "quoted" li

[2019-05-07 12:55] phax commented on #90
My 50 cents: `token_source.SwitchTo (DEFAULT);` lets you choose an initial lexical state, where `xxxTokenManager` is your `token_source`. So if you don't use lexical states currently, this might help here...
See https://javacc.org/tutorials/tokenmanager for lexical state help.

[2019-05-07 13:07] wumpz commented on #90
@phax I don't think those states will help. My explanation was for one situation. In fact there are multiple that could be combined in many ways. Or do I understand a state wrong?

[2019-05-07 13:28] phax commented on #90
@wumpz My understanding was, that you want one grammar, but based on the underlying DB system, you want slightly different lexical parsing rules. When manually calling `SwitchTo` **before** parsing, you can set these states. But of course it bloats the grammar - see https://github.com/phax/ph-css/blob/master/ph-css/src/main/jjtree/ParserCSS30.jjt#L77 and following for an example how I use differen

[2019-05-07 14:29] matozoid commented on #90
JavaParser does this by having the widest, most encompassing grammar possible, then marking invalid constructs for a specific language level with an AST visitor. There is also one rule that may rewrite parts of the AST.

(This can of course get very complex. Java has been so nice to stay backwards compatible, so every new version's grammar is a superset of the previous one.)

[2019-05-07 15:15] wumpz commented on #90
Looking at all this it seems to me, JavaCC should be improved to handle these situations better, to give the grammar designer a better toolset, to get a less complex grammar.

How hard is it to provide this possibility (switching on/off tokens) within the token manager? Or is there a better idea to tackle those multi variant grammars?

I want to avoid at any cost to maintain multiple variants of o

[2019-05-07 21:40] new-javacc commented on #90
If you want it at parser build time, you can simply use one of the existing tools like m4 or something to preprocesss and generate specific grammars from a general grammar. Another way is to have one common file and anything that's specific in a separate file and concatenate appropriate fragments at build time. If you want a single parser accepting different languages, that gets more complicated a

[2019-05-08 06:33] hackmann commented on #90
We sometimes use a longer token than want we really want to match because it is too short. And then split it in the lexer. Here is an example where `ALPHA1_RBD_DATE` does not just match a RBD but also a date and then `AlphaRBD` splits it into an RBD token and a DATE token.

[code]

I think you can use such an approach for `S_QUOTED_IDENTIFIER` and then add ` "[" Expression() "]"`

[2019-05-08 15:16] new-javacc commented on #90
IMO that's a non-requirement. Doing it at runtime is ugly and a maintenance nightmare. If you are processing one language at a time, you should just have build rules to produce different parsers. If not preprocessor, use the other idea of maintaining separate grammar fragments.Anyway you can do that at runtime too. You can't just "turn off" rules. But you can do that simply using code. Remember th

[2019-05-08 19:35] wumpz commented on #90
@new-javacc I was not aware, that I could put back characters within a lexical action. That is the kind of thing I needed. However, I think about how I would like that defined in JavaCC. Sure, there could be some Java code, but wouldn't it be cool if I could write something like:

TOKEN {
  <LSQUARE : "[" >
  | TOKEN_LOOKAHEAD( !dontUseThis, LSQUARE )  <QUOTED: "[" ... "]">
}

Like using a sematic

[2019-05-08 23:50] new-javacc commented on #90
In javacc, unlike Antlr, we compile the token spec down to bit vectors so this will be an expensive check to add. You can use lexical actions to do tOn May 8, 2019 12:35 PM, Tobias <notifications@github.com> wrote:@new-javacc I was not aware, that I could put back characters within a lexical action. That is the kind of thing I needed. However, I think about how I would like that defined in JavaCC.

[2019-05-09 05:36] wumpz commented on #90
@new-javacc I know that. But that is one of the reasons JavaCC generated parsers have such superior performance (https://dzone.com/articles/antlr-and-javacc-parser-generators). My idea was, that JavaCC could behind the scenes build this lexical action for me :).

[2019-05-25 14:22] morris821028 opened #91 "Slow Performance: JavaCharStream.java FillBuff"
I'm a Beanshell user which using javacc dynamically. The following `throw new java.io.Exception()` always copy the stack trace in super class' constructor. Could it implement as a `final static`  exception in `JavaCharStream.java`? I think it's very expensive for checking the end event of stream.

https://github.com/javacc/codegenerator/blob/master/java/src/main/resources/templates/JavaCharStream.

[2019-05-26 01:32] new-javacc commented on #86
I thought I mentioned above - it's not a bug. An empty action is alway taken because the lookahead is trivially true. Again like I said:

[ x ]

is not the same as

{} | x

[2019-05-26 03:21] zhztheplayer commented on #86
@new-javacc , the problem is not really related to actions. It is the problem of the way we generate lookahead codes for **Choice** is too optimistic. I might use `( <FOO> | {} )` as an example, but it is only because the empty action consumes 0 lookahead count in minimal[1]. The same issue happens on `( <FOO> | [<DUMMY>] )`, `( <FOO> | (<DUMMY>)* )`, whatever as long as one of the choices is trea

[2019-05-26 03:40] zhztheplayer commented on #86
Because of the broken loop condition `min > 1` in the code, if the first branch of a choice is minimally 2, then nothing goes wrong, say we have syntax:
[code]

The generated code is good for parsing <BAR> <BAR>. If we make the branch consumes 1 minimally (it is the case I used in PR):

[code]

The error will be thrown this time. It's all because a simple mistake (I think) when someone writes the

[2019-05-29 05:56] wumpz opened #94 "automatic connection between ast node and created production object"
Imagine you have a production like

[code]

If I want to connect both objects (TestObject,  testobjectnode ) I have to use some special code like

`setNode(jjtThis);`

or so.

Could this be achieved automatically? Or is this even possible right now?

[2019-05-30 01:58] new-javacc commented on #86
Like I said before - I want the grammar and the input. I don't really
want to talk about the generated code. What is  the input string that
shows the "wrong parse" for the cases. I think you are misunderstanding
how JavaCC lookahead works. Did you look at the tutorial(s)? There are
some good examples there.

[2019-05-30 01:59] new-javacc commented on #86
Better yet - generate the parser with DEBUG_LOKAHEAD option and see what
it's doing.

[2019-05-30 03:49] zhztheplayer commented on #86
Thanks @new-javacc. I was talking about the generated code because at least for the method ParseEngine#minimumSize, I know what it intends to do and how it works. I read the [lookahead document](https://javacc.org/tutorials/lookahead) for times so per my experience this problem should not be intended or by design.

And I think I already provide some other cases in comment https://github.com/javacc

[2019-05-31 03:39] zhztheplayer commented on #86
@new-javacc , also, the lookahead for empty action is true, but the action does't consume lookahead counts. Say:
* Grammar `({} <FOO> | <BAR> )` is good for parsing input `BAR`;
* Grammar `(( <DUMMY> | {} ) <FOO> | <BAR> )` is good for parsing input `BAR`;
* HOWEVER grammer `( LOOKAHEAD(2) ( <DUMMY> | {} ) <BAR> <DUMMY> | <BAR> <BAR> )` is not able to parse input `BAR BAR`.

This is simply INCORRE

[2019-05-31 08:04] new-javacc commented on #86
Like I said, it's not incorrect. There are some really subtle rules. Let
me read carefully the lookahead mini tutorial and get back to you.
Remember the 2 rules - 1. LOOKEHAD is the max we want it to use so it's
free to use anything upto that and 2.  javacc does not do lookahead
during lookahead. As for your examples, the number of choice points are
different so you can't  expect the same behaviou

[2019-05-31 08:13] new-javacc commented on #86
Adding javacc users  so more people can chime in.

[2019-05-31 09:19] new-javacc commented on #86
Thanks for the details. There are a lot of subtle semantic issues in
JavaCC lookahead and I generally don't expect any bug there. So in all
the good cases if you see - there is *at least* one choice that needs a
lookahead of 2 so the lookahead(2) makes sense. In all your bad cases,
all the choices are of size <= 1 so lookahead 2 has no effect. So the
"bad cases" you mentioned below are not actuall

[2019-05-31 09:51] zhztheplayer commented on #86
Thanks @new-javacc .

Sorry I don't think so (If I understand your point correctly). For example, I can write following grammars:

1. `( LOOKAHEAD(2) ( <FOO> | <BAR> ) <DUMMY> | <BAR> <BAR> )`
2. `( ( <FOO> | <BAR> ) <DUMMY> | <BAR> <BAR> )`

By your explanation, the 2 grammars should be effectively equivalent, because the leading expansion ( \<FOO> | \<BAR> ) is a choice with no longer than 2 tok

[2019-05-31 16:23] new-javacc commented on #86
Yeas that's because the default lookahead is 1On May 31, 2019 2:51 AM, Hongze Zhang <notifications@github.com> wrote:Thanks @new-javacc .

Just to reiterate LOOKAHEAD(2) says upto two tokens but if the choices are less than 2 tokens long, it will not use 2.

Sorry I don't think so (If I understand your point correctly). For example, I can write following grammars:
( LOOKAHEAD(2) ( <FOO> | <BAR> )

[2019-05-31 16:57] new-javacc commented on #86
Oops hit send too soon.Basically your example perfectly illustrates the need for lookahead. So in your second example below sicne the default lookahead is 1, it will see that bar matches in the first choice and so it commits to that. So the two examples are *not* equivalent.I strongly suggest you run the grammar with debug_lookahead option and carefully see the output to understand what it's doing

[2019-05-31 18:28] zhztheplayer commented on #86
@new-javacc , I think I used to debug the syntax by turning DEBUG_LOOKAHEAD on several month ago, I think I already now the parser-gen process for such grammars but anyway I'll run again and paste the output here soon.

I totally agree with you. But in your earlier comment you said "LOOKAHEAD(2) says upto two tokens but if the choices are less than 2 tokens long, it will not use 2". Say we have 4

[2019-06-01 04:54] zhztheplayer commented on #86
The debug output for following grammar and input:
- grammar
[code]
- input
BAR BAR

- debug output
[code]

The output seems to be very normal. Branch1 is wrongly chosen immediately, and we should chose Branch2.

I am feeling that I have tried but I couldn't explain the problem smoothly in our discussion by using grammar and input. Could you please confirm whether the code snippet in ParseEngine is

[2019-06-01 13:44] new-javacc commented on #86
Your assertion that we should choose branch2 is not correct. I don't understand what "safe for parsing" means. Javacc semantics for lookahead clearly say this isn't expected behavior.The general rule in javacc is to use lookahead only for common prefixes.So I say this is clearly not a bug.Your work around is to put more deterministic choice bar bar first.On May 31, 2019 9:54 PM, Hongze Zhang <noti

[2019-06-01 18:13] zhztheplayer commented on #86
@new-javacc "Safe" means when we use LOOKAHEAD(2), we should make sure we checked at least 2 tokens in method jj_xxx(). Method jj_xxx() generated for grammer `LOOKAHEAD(2) ( <FOO> | {} ) <BAR> <DUMMY>`  doesn't check for the tail token \<DUMMY>, and \<DUMMY> can happen to be the second token of input token stream, we must make sure 2 tokens are checked, so the method is not safe. Where for `LOOKAH

[2019-06-01 18:16] new-javacc commented on #86
I don't want to make a change that doesn't have a test case especially
since this worked 23+ years now without problems. The case you gave is
not a valid bug.

And from below:

"at least"

that's totally against JavaCC design. We are not changing it now. It's
defined to be "as many as required upto 2". The right way to solve your
problem is to put bar bar as the first production.

[2019-06-01 18:51] zhztheplayer commented on #86
I meant, we should make sure we generate la code for satisfying the requirement of checking at least 2 tokens for LOOKAHEAD(2). We sometimes only need to check < 2 tokens, that is very normal. But when we have 2 tokens need to be checked (e.g. \<BAR> \<BAR>), we should ensure we have generated enough la code for that. Currently we don't.

The workaround is not possible to use for very complex gram

[2019-06-01 18:54] new-javacc commented on #86
Your last statement with two options is the essence of JavaCC. You need
to left factor out your grammar because it simply takes the first choice
period and {} does not require look ahead so it will take that option.
The right way to your grammar is:

[ <FOO> ] <BAR> ( <BAR | <DUMMY> )

That's cleanest, most readable  way of writhing this rule.

[2019-06-01 18:57] zhztheplayer commented on #86
Please consider:
[code]

[2019-06-01 19:08] new-javacc commented on #86
Same issue - it's not a test case for the "bug". You need to factor out
left side because this a top-down parser and write a javacc grammar
properly taking into account how javacc works. It will simply take the
first choice it can with the minimal lookahead - so *, [] and empty
choice {} are always taken. So you need to rework your grammar to make
sure you don't have crazy combinations in the pref

[2019-06-02 05:36] zhztheplayer commented on #86
Grammar `LOOKAHEAD(2) ( <FOO1> | ( <FOO2> )* ) <BAR> <DUMMY>` accepts `BAR BAR`, but -
grammar `LOOKAHEAD(2) ( <FOO1> <FOO1> | ( <FOO2> )* ) <BAR> <DUMMY>` rejects `BAR BAR`. That is the bug. They either both accept, or both reject.

[2019-06-02 05:46] zhztheplayer commented on #86
And I think I understood your concern above. `( <FOO> )*` / `[ <FOO> ]` / `{}` are all min=0 expansions, they can always be taken, that's no problem. But we can't consider that they consume one lookahead count, they should all consume zero. We can take `[ <FOO> ]`, but since we don't have any  `<FOO>`s, we should keep the rest lookahead count numbers and consume them afterwards. Decreasing the num

[2019-06-02 06:16] new-javacc commented on #86
So the issue is you don't know that. JavaCC doesn't let you specify
"just empty" as a production so at least one of the choices has to have

example is too simplistic. If have recursion, this will loop because
lookahead will never go down and cause major problems. It's been a long
time (> 20yrs :)) but now I remember this.

[2019-06-02 08:05] zhztheplayer commented on #86
The concern is not valid - infinite looping will never happen. JavaCC's lookahead consuming is based on how many tokens have been checked. The number of tokens in input stream are always limited, as a result a lookahead call always has an end.

Although I know the code stands there for a long time, I still know a bug is there. Fixes for bugs that last several decades in opensource projects are not

[2019-06-02 20:14] new-javacc commented on #86
Note that javacc also has semantic lookahead which is actually used during lookahead (unlike the syntactic one). And also there is the indefinite lookahead where you can actually lookahead a production. So I nee to look at all combinations. And it looks so specific for > 1 I have a feeling it's intentional and not a bug.And most importantly you havr a workaround - just use lookahead 3 and it will

[2019-07-30 10:02] jan-niestadt opened #95 "cannot find symbol JavaCharStream.staticFlag"
A parser generated with 7.0.4 doesn't compile because it cannot find JavaCharStream.staticFlag.

These are my parser options:
[code]

I get these compilation errors:
[code]

This is the code referred to:
[code]

The generated JavaCharStream class doesn't have a staticFlag variable, hence the error.

If I comment out the if statement, it seems to work.

[2019-07-30 14:24] new-javacc commented on #95
You may have to delete the old version first.On Jul 30, 2019 3:02 AM, Jan Niestadt <notifications@github.com> wrote:A parser generated with 7.0.4 doesn't compile because it cannot find JavaCharStream.staticFlag.
These are my parser options:
options
{
	STATIC=false;
	JAVA_UNICODE_ESCAPE=true;
}

I get these compilation errors:
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-p

[2019-07-31 07:48] jan-niestadt commented on #95
Thanks, I did delete all the old generated files but an incorrect version keeps being generated. I am using javacc from Maven though, using [ph-javacc-maven-plugin 4.1.3](https://github.com/phax/ph-javacc-maven-plugin).

I tried running javacc from the commandline (versions 5.0 and 6.0) and that works as it should. So it seems the problems is with the Maven plugin. I'll ask there.

[2019-07-31 07:48] #95 closed

[2019-07-31 08:25] jan-niestadt commented on #95
Ok, I actually realised `ph-javacc-maven-plugin` doesn't use javacc (misleading name), sorry. I switched to `org.codehaus.mojo.javacc-maven-plugin` and that works properly. Thanks!

[2019-07-31 09:15] phax commented on #95
@jan-niestadt I wil check after my vacation

[2019-08-04 15:38] phax commented on #95
@jan-niestadt as background: I forked JavaCC to ParserGeneratorCC (https://github.com/phax/ParserGeneratorCC/) to be more flexible in adopting things. Things droped were e.g. the support for Java versions 1.5 as well as support for "static" parsers. Therefore the `staticFlag` no longer exists.
And concerning the `ph-javacc-maven-plugin` - that was forked, because the Codehaus plugin development st

[2019-08-05 07:46] jan-niestadt commented on #95
@phax the plugin was generating code that referred to staticFlag but the flag itself wasnt' generated. It's not in my grammar. I did include javacc as a depency though, maybe that caused it?

Anyway, JavaCC and the Codehaus plugin work for me at the moment, so I will stick with those.

[2019-08-05 07:58] phax commented on #95
@jan-niestadt Thanks for the clarification. If you want, you can provide me the grammar by email, so that I could try to figure out what the issue is (ph at helger.com) - thx

[2019-08-07 06:41] wumpz commented on #90
I tried to follow the described way to replace the matched token, but somehow I am not able to put back the characters into my stream. My code looks like that:

[code]

I thought using backup, I put those remaining characters back into the stream.

[2019-08-07 22:47] new-javacc commented on #90
That should work provided you don't have other issues with lexical
states etc

[2019-08-08 05:27] wumpz commented on #90
@new-javacc Then the problem is on an other place. Hmm.

[2019-08-13 20:32] wumpz commented on #90
It was my fault. Now it works as expected. I was using a customized SimpleCharStream, that was not able to handle token actions.

[2019-08-15 16:13] wumpz commented on #90
If I want to support backslash and double quote escaping within string literals, should I go the same way?

[2019-09-07 15:24] wumpz opened #97 "Connect nodes with production results"
For a production I can define a return object and a corresponding parse node. Is there a possibility to connect both automatically? The manual way I know and use.

[2019-09-20 18:05] raipc opened #98 "Too much overhead on LookaheadSuccess creation"
I use [JSqlParser](https://github.com/JSQLParser/JSqlParser) which relies on javacc, and I found out that a lot of time is spent in fillInStackTrace method while stacktraces do not seem to be used.
![Screenshot (76)](https://user-images.githubusercontent.com/2247781/65348617-4819ee80-dbea-11e9-9508-373ddb0c9135.png)

[2019-09-22 15:37] #98 closed

[2019-09-22 15:40] #2 closed

[2019-09-23 10:47] inponomarev commented on #43
Hi @new-javacc, I see a recent activity in the project. What do you think about this CI idea?

[2019-09-23 11:51] zosrothko commented on #43
@inponomarev That's a very good idea but I am not able to setup the Travis script. try to make it happen...

[2019-09-30 17:39] martinswanson opened #100 "Add Homebrew formula"
I noticed there is no existing Homebrew formula for JavaCC. It would be very nice (especially for new community members) to create one to standardize installation and environment config for macOS.

I have created a formula locally and tested it. The formula is working but I had to modify the build.xml file (to specify the Main.Class tag in the MANIFEST.MF file) and rebuild the jar locally to get i

[2019-09-30 19:15] zosrothko commented on #100
Hi @martinswanson You can psuh any PR that improves JavaCC. There is few or no concern in modifying build.xml as soon as it continue to work for other platforms. The real concerns are related to the JavaCC language itself.

[2019-10-01 17:26] martinswanson commented on #77
Is anyone working on updating the docs / site? I would be happy to look at this.

[2019-10-03 13:09] #43 closed

[2019-10-03 13:09] #42 closed

[2019-10-07 09:03] martinswanson opened #105 "Reduce public methods"
Based on comments in the [Apache Lucene documentation](https://github.com/apache/lucene-solr/blob/master/lucene/queryparser/src/java/org/apache/lucene/queryparser/classic/package-info.java), we should review which JavaCC method should be public:

[2019-10-17 18:47] #77 closed

[2019-10-22 07:59] zosrothko opened #111 "JJTree 8.0.0: invalid requirment :RuntimeException: No valid CodeGenerator for JJTree : null"
Hello
In my opinion, JJTree 8.0;0 should not request for a code generator
[code]

[2019-10-23 06:46] #111 closed

[2019-11-03 14:36] albert-github opened #116 "Checksum in generated code"
In the generated code there is a line with the md5 checksum at the end of the file (like: /* JavaCC - OriginalChecksum=5361b31ac6530c6c23511012deb15394 (do not edit this line) */) based on the file contents, though this checksum is (as far as I can see) depending on the platform where the file is generated. There is a difference between Window and *nix due to the `\r\n` versus `\n` line ending.

-

[2019-11-03 15:09] albert-github opened #117 "Usage of "null""
I see that in the file `./src/main/resources/templates/cpp/JavaCC.h.template` the construct:
[code]
has been added.

- Is there a reason for adding this define?

[2019-11-03 15:22] zosrothko commented on #117
If I remember well, it was a workaround to compile the generated C++ code with "null". "nullptr" should be used but this move from Java generated code to C++ generated was on the way. May be it could be removed if no more "null" are generated.

[2019-11-03 15:23] zosrothko commented on #117
@albert-github What is your email adress?

[2019-11-17 13:57] albert-github commented on #117
For the doxygen package in the vhdlparser directory no 'null' is generated.

[2019-12-04 11:19] ddugovic opened #120 "Preserve token input case"
I prefer that input case be preserved.  For example, parsing (using a grammar w/tokens `SELECT` and `FROM`):
`select * from sysdatabases`

... case-insensitive token matching works, however I prefer to be able to retrieve tokens in the input case: `select` and `from`.

[2019-12-13 02:46] AngledLuffa opened #121 "How to get the complete parsed text?"
I've been working on a tool for Stanford NLP which incorporates javacc for building one of its utilities, semgrex (short for semantic graph expressions).  There's a confusing part of the syntax which some people have misinterpreted, so I have added new functionality with much clearer semantics which does the same thing.  As part of this change, I would like to deprecate the old, unclear version of

[2019-12-13 11:41] albert-github opened #122 "Version on javacc.org"
In the readme file on github we see that the current version of javacc is 7.0.5 though on javacc.org the "promoted" version is 6.0

A previous issue (#77) has been closed on October 17, 2019 but the problem is still present.

[2019-12-13 11:41] albert-github commented on #77
The problem is still present (I submitted a new issue).

[2019-12-13 11:47] albert-github opened #123 "Debug options for generated `.h` file"
The current debug options are:
- debug_parser
- debug_token_manager
- debug_lookahead

When using `-debug_parser` we get the `...Parser.cc` with debug options, but in the file `...Parser.h` there are also a number of (inline) functions. The later functions are not caught by the debug possibilities. It would be nice to have a, separate, option to catch also these functions, I know this will give a

[2019-12-13 13:33] MarcMazas commented on #121
Hi

It looks that XYZ will be the list of tokens matched by the old expression.
You will need to reach the end of the old expression to have it.
void Expr() : Old_expr() {warn("bla" + the_oe_str);} | New_expr()

See the JavaCC API for parser actions and the Token class.

Depending on its syntax and complexity, you can build this list string in different ways:
- concatenate the token.image(s) in a

[2019-12-13 14:11] MarcMazas commented on #90
Hi. So you are using semantic checks (and in JJT, not JavaCC) to solve a syntactic need?

[2019-12-13 14:58] zosrothko commented on #77
@HoldYourWaffle The JavaCC version 8 is a WIP solution that splits the JavaCC parser from the code generators (actually, targets are Java, C++ & C#). This is an unstable development that would be inappropriate for production. Keeping the JavaCC 7.0.5 is a better choice until JavaCC 8 be alpha released or better.

[2019-12-13 15:05] albert-github commented on #77
I agree that on javacc.org version 7.05 should be mentioned (as requested too in #122) and not the (very) old version 6. O the download page a reference to github could be added as well (as now it is only (?) the main page).
In the readme on github it is possible to mention the version 8 as being WIP.

[2019-12-13 15:41] zosrothko commented on #77
@albert-github Done in the master branch.

[2019-12-14 05:35] AngledLuffa commented on #121
This does help, thanks!  I am outputting the message at the end of the root production, so I guess it doesn't even need to be a global variable for tracking the first token, just a local variable.  Have added that for the next release.

[2019-12-14 05:35] #121 closed

[2019-12-26 12:05] #120 closed

[2019-12-26 13:04] zosrothko opened #126 "JJTree/c++: Add an option to specify where jjtree should look for user's defined node class"
When generating code for c++ from a JJTree grammar, javacc-7.0.4  checks that AST nodes are already defined or not by a user. This check is based on the existence or not of a file named "ASTNode.h" for the interface and "ASTNode.cc" for the implementation.

This is a problem when using Maven for build a C++ generated JJTree grammar since the user's defined c++ code goes in `src/main/cpp` while the

[2019-12-27 06:54] mbrigl opened #128 "Tablebased Tokenmanager does not work on v.8; tested on java"
The new table manager does not provide the token images as it should. @new-javacc I sent the example on slack.

Using the main the new Tokenizer provides

the tokenizer in version v.7 returns correctly

[code]

[2019-12-27 17:22] mbrigl commented on #65
Resolved with Pull Request #129

[2019-12-27 17:22] #65 closed

[2019-12-28 07:35] #128 closed

[2019-12-28 07:45] mbrigl opened #130 "DFA behaves differently on v.8.0.0"
Using following test-grammar and applying the tokenizer on "NS.Attr IS .56"; version 7 and version 8 return different results. The result of version 7 is the expected:

- Version 7: "ATTR_TOKEN" "DOT" "ATTR_TOKEN" "EQUALS" "DECIMAL_TOKEN"
                   NS . Attr eq .56
- Version 8: "ATTR_TOKEN" "DOT" "ATTR_TOKEN" "EQUALS" "DOT" "DECIMAL_TOKEN"
                   NS .  Attr eq . 56

[code]

[2020-01-03 00:43] Black-Photon opened #131 "Install Steps Do Not Work"
Currently, the installation instructions specify that one should unzip the container, and add the bin folder to the path. However, the bin folder is now the scripts folder so the bin folder does not exist. The scripts inside search on paths that do not exist and the location the `javacc.jar` file should be placed is not specified. This makes it complex and difficult for a user to install and use j

[2020-01-10 13:48] zosrothko commented on #126
Fixed in javacc branch 8.0.0

[2020-01-18 23:38] mantou16 commented on #131
apparently this is an issue starting from v6.0 as someone claimed not find bin folder from v6.0.
https://stackoverflow.com/questions/18674474/setting-javacc-to-work-with-command-prompt

Please modify the instruction on the javacc page. Thanks!
https://javacc.github.io/javacc/#download

[2020-01-19 00:20] martinswanson commented on #131
If you’re on Mac OS you can just use the Homebrew formula
https://formulae.brew.sh/formula/javacc

If you’re on Windows <cough> then it’s worth reading the javacc.rb script
https://github.com/Homebrew/homebrew-core/blob/master/Formula/javacc.rb

[2020-01-20 03:28] kaikalur commented on #130
Which language?

[2020-01-20 09:29] vlsi opened #140 "Implement fuzzer for JavaCC grammars"
As of now, JavaCC generates parsers.

However, it would be nice if it could generate fuzzers as well.

In other words, it should take a `Random` instance, and produce a randomized sample as if it was parsed according to the grammar.

For instance, https://github.com/javacc/javacc/tree/master/examples/Interpreter generates a parser that takes `stream` as an input and produces objects like `ASTCompi

[2020-01-20 11:19] mbrigl commented on #130
I tested it on Java and C++, but I think C# has the same problem. The Java code is quite similar than the C# code. Debugging the generated tokenizer, you can see that if it find an exact token match like DOT in the example, it doesn't consider a token described by a regular expression like the DECIMAL_TOKEN, starting with a DOT as well

[2020-01-20 11:27] MarcMazas commented on #140
Hi
Why limit to just random inputs ?
I would dream to have JavaCC generate a full set of inputs covering all the syntax …
Regards
Marc

De : Vladimir Sitnikov <notifications@github.com>
Envoyé : lundi 20 janvier 2020 10:30
À : javacc/javacc <javacc@noreply.github.com>
Cc : Subscribed <subscribed@noreply.github.com>
Objet : [javacc/javacc] Implement fuzzer for JavaCC grammars (#140)

As of now, Jav

[2020-01-20 16:17] kaikalur commented on #130
Let me check. That's unlikely. This is a standard "longest match first" thing. How about the interpreter? That should tell us if something in the core is broken

[2020-01-20 18:32] mbrigl commented on #130
The Interpreter matches as well the DOT, instead of the DECIMAL

[code]

[2020-01-20 18:38] kaikalur commented on #130
:(

[2020-01-20 18:43] zosrothko commented on #140
@vlsi javacc next release 8.0.0 split the javacc parser from the code generator... I think you could develop a specific code generator to generate fuzzer code

[2020-01-20 19:19] kaikalur commented on #130
Also, note that it's not an issue with NFA. It's the optimization for strings literals (DFA) that's causing the issue.

[2020-01-20 21:06] mbrigl commented on #130
Yes, you are right. It's the DFA, sorry.

[2020-01-20 23:13] kaikalur commented on #130
I will look at some point but it should not be a blocker as you can always use `-no_dfa` option.

[2020-01-21 07:55] zosrothko commented on #126
TODO: Backport to 7.0.6

[2020-01-21 08:33] vlsi opened #141 "Use Gradle for the build"
Hi,

I see you have code movement in 8.0.0 branch, so I wonder what do you think of using Gradle as the build system?

It makes lots of things simpler to do (e.g. when compared with Ant and Maven), it and it improves development experience.

I've migrated Apache JMeter from Ant to Gradle, and Apache Calcite from Maven to Gradle.
In both cases, it resulted in significant improvements when it comes

[2020-01-21 09:10] zosrothko commented on #141
You are welcome to contribute in this area of building JavaCC with Gradle.... and for testing the generated code (compiling/linking c++ and also c#)

Fox now, the full build with maven is under development and will be the next official way to produce/test JavaCC.

[2020-01-21 09:19] martinswanson commented on #141
+1 for Gradle and I would be happy to help test it. Could run alongside Maven for a while? Would be nice to start with building and publishing the distributions as that’s quite manual and done infrequently.

[2020-01-21 12:06] vlsi commented on #141
Building and publishing with Gradle is much simpler.

[2020-01-21 12:10] martinswanson commented on #141
Yes, and the performance difference is significant, would help us move to a continuous build process, rather than long-lived branches.
https://gradle.org/gradle-vs-maven-performance/

[2020-01-21 12:13] martinswanson commented on #100
This can be closed, javacc formula for homebrew exists and supports latest 7.0.5 build.
https://formulae.brew.sh/formula/javacc

[2020-01-21 12:13] #100 closed

[2020-01-21 12:19] vlsi commented on #141
Just in case, here's the feedback from migration Apache JMeter from Ant to Gradle: https://lists.apache.org/thread.html/c08780952b7fbd71eccff717cb494562723e11dc99ea1b4bb39af461@%3Cdev.jmeter.apache.org%3E

[2020-01-21 12:20] martinswanson commented on #122
The javacc.org domain now redirects to the documentation stored under version control and hosted by GitHub Pages. Closing this issue.

[2020-01-21 12:21] #122 closed

[2020-01-21 12:26] martinswanson commented on #18
Scripts are on Github
https://github.com/javacc/javacc/tree/master/scripts

Also, if you install with homebrew the scripts are generated automatically as part of the install process
https://formulae.brew.sh/formula/javacc

[2020-01-21 13:07] zosrothko commented on #141
I had already in the past tried to build JavaCC with gradle...without success...So, again, you are welcome to make it work. It is not so easy like 1,2,3!

[2020-01-21 15:19] vlsi commented on #141
@zosrothko ,

can you please clarify?

https://github.com/javacc/javacc/tree/8.0.0

I see you are using git submodule for codegen.
Can we please refrain from that?
Can we just include codegen sources to javacc repository?

I happen to maintain [PostgreSQL official JDBC driver](https://github.com/pgjdbc/pgjdbc), and our experience shows that having a single repository greatly simplifies changes tha

[2020-01-21 16:27] zosrothko commented on #141
IMO, you should exercise to build JavaCC with gradle on a branch derived from the master branch which is now at the 7.0.6 version. The 7.0 path is the stable mainstream code base for JavaCC. The 8.0.0 is currently a experimental WIP, with forthcoming organisation changes.

[2020-01-21 16:30] vlsi commented on #141
OK. I see `master` has both `build.xml` and `pom.xml`.
Are they identical?
Which is primary?

[2020-01-21 18:56] zosrothko commented on #141
ant was used first... now it is maven which is used

[2020-01-22 06:20] caizixian commented on #18
@martinswanson many thanks for pointing me to the resources.
IMHO, it's beneficial to ship these wrapper scripts with the zip release.

My personal experience was that I was following a compiler book that uses javacc.
However, I couldn't find the scripts in the latest release.
Those scripts were available in some of the previous release, and I thought it would be nice if things are consistent.

[2020-01-22 08:47] martinswanson commented on #18
Agreed, however I can only test on MacOS. Is there someone with a Windows platform that could test the scripts and change the build.xml to include them in the distro? The Homebrew scripts should be a guide.

Martin

Sent from my iPhone

[2020-01-24 22:08] vlsi opened #145 "Discuss: javax.tools.JavaCompiler or Janino for grammar tests"
See https://github.com/javacc/javacc/pull/143#issuecomment-578058816

/cc @martinswanson

A part of JavaCC testing complexity comes from the fact that it requires Java compiler to compile the generated grammar.

The current tests are written in Ant build files, which makes it complicated to debug, understand, maintain, etc, etc.

I suggest that most tests should be written like `unit` tests, so th

[2020-01-24 22:19] martinswanson commented on #145
My vote is for the standard javax library. Please no dependencies on the Eclipse IDE ...!

Sent from my iPhone

[2020-01-25 07:04] iwantleave commented on #131
yes, the install step is wrong. And now, no "bin" folder in the zip file.
please use `java -cp bootstrap/javacc.jar javacc xxx.jj`.

[2020-01-25 09:04] vlsi opened #146 "Avoid use of static fields"
For instance, `org.javacc.parser.Main#mainProgram` starts with

https://github.com/javacc/javacc/blob/ac4941edb86297408833b0de796b4e9962769845/src/main/java/org/javacc/parser/Main.java#L163-L166

1) It means the parser can't be executed concurrently, and it might leave non-initialized state behind.
2) It makes it harder to follow the code: static fields might create unexpected couplings.

It would

[2020-01-25 09:08] vlsi opened #147 "Avoid use of System.in / System.out in the parser code"
Currently, the parser is hard-coded to use System.in / System.out.

It results in the unwanted output being generated, and it complicates testing.

JavaCC should be able to use `InputStream/OutputStream` or `Reader/Writer` instead of using `System.in/out`.

[2020-01-25 09:26] zosrothko commented on #145
I am also in favor of the javax library. @martinswanson The ECJ is independent of the Eclipse IDE and can be run as a standard Java application.

[2020-01-25 09:27] zosrothko commented on #145
@vlsi Remind that Ant build will be removed at some point when the Maven one be stable...

[2020-01-25 10:27] zosrothko commented on #147
What do you mean? In the JavaCC code itself, in the generated parser or in the main class of the examples/tests?

The single reference to System.in in JavaCC is in `org.javacc.jjdoc.JJDoc`
`      parser = new JavaCCParser(new java.io.DataInputStream(System.in));`

No problem for using InputStream/OutputStream or Reader/Writer in the examples/test instead of System.in/out. Just needs workforce for

[2020-01-25 10:40] vlsi commented on #147
For instance: https://github.com/javacc/javacc/blob/master/src/main/java/org/javacc/parser/Main.java#L176

[2020-01-25 11:37] martinswanson commented on #147
Propose slf4j + logback, that’s a standard set up that would allow us to set logging levels.

Sent from my iPhone

[2020-01-25 12:21] vlsi commented on #145
@zosrothko , Maven build is obsolete, so it should be removed even before all the build.xml files.

[2020-01-25 16:18] vlsi commented on #145
https://github.com/javacc/javacc/pull/148 could be just enough.

[2020-01-25 16:18] #145 closed

[2020-01-25 19:04] zosrothko commented on #145
@vlsi So you decide yourself that Maven build is obsolete!!! What a way to collaborate! I was alone on JavaCC during years, made most improvments in the build system (Ant & Maven) and you just come in and blow away what I have made... That 's not gona work like this!

[2020-01-25 19:19] vlsi commented on #145
@zosrothko , I don't follow you.

Gradle scripts that I have added do more than both Ant and Maven combined.
It increases code coverage, and it improves the development experience.

I can see it might be surprising that it takes just a couple of days to get Gradle-based build fully working, however, it is indeed that simple.

If you do not want contributions, then just say that. I will close all t

[2020-01-25 19:26] vlsi commented on #18
This becomes trivial to solve if Gradle-based build is merged: https://github.com/javacc/javacc/pull/143

GitHub Actions executes the build with macOS, Windows, and Linux.
The build script [even includes the scripts](https://github.com/javacc/javacc/pull/143/commits/0c5f06d431072f88db0d642b5b9b80640e6c7cad#diff-d3a627513de349cf1a04d5b4c7eb339fR45)

The only missing bit is a shell command to CI tha

[2020-01-25 20:25] vlsi commented on #145
Just in case, I closed this issue because I have actually implemented it, and it turned out it becomes hard to interact with the generated parser.

For instance, the parser class is not available to IDE (the file is compiled fully in memory), and it would take extra efforts to materialize the generated files. Then it would be hard to tell IDE to treat those files as source (e.g. for debugging).

T

[2020-01-25 20:52] mbrigl commented on #146
I agree, I'm already working on it for branch 8.0

[2020-01-25 21:22] vlsi opened #150 "Show source context for parse exceptions"
Current JavaCC exception messages are great, however, it would be nice to improve it a bit by showing the context around the failure.

See https://elm-lang.org/news/compiler-errors-for-humans

What if the error message included a line or two with the context and a marker for the failure position?

It would help for cases like https://github.com/julianhyde/sqlline when the exception is just printed

[2020-01-25 21:27] vlsi opened #151 "Add JMH for benchmarking grammars"
Certain cases/fixes might need to have measurements.

For instance, https://github.com/javacc/javacc/pull/85 claims to improve performance, however, it would be great to have a benchmark that would enable developers to measure how the updated code behaves.

https://openjdk.java.net/projects/code-tools/jmh/ is a well-known tool, and it should suit for JavaCC cases.

[2020-01-25 22:26] vlsi commented on #140
@MarcMazas , the full set of inputs is often infinite, so I do not see how you can generate infinite set of inputs.

[2020-01-26 19:43] vlsi commented on #150
Sample:

[code]

It would be nice better to show something like

[code]

[2020-01-27 09:16] MarcMazas commented on #140
I'd like to generate a set of grammar inputs where the tokens may be not fully covered (so random is ok, or any other strategy), but the syntax (the combination of the productions) is fully covered. For example, for SQL, have an (one or a few random) example(s) of each combination of clauses in a statement, each combination of statements in a block. The number of these combinations may be high but

[2020-01-27 09:37] vlsi commented on #140
[code]

is infinite :(

How do you know when to stop?

Note: sometimes characters in the literal have special meaning.

For instance:

[code]

[2020-01-27 10:14] vlsi opened #152 "Add an option to reduce verbosity"
The current `javacc` output is noisy, and it is not really helpful.

There should be a way to hide it. Frankly speaking, I would like to make a less verbose output a default mode. For instance: output only warnings and errors by default.

If you take `javac` and `javadoc`, they do not print its version on every execution, and those tools do not print the list of generated files by default. They do

[2020-01-27 10:49] MarcMazas commented on #140
I would limit the combinations :
[] : 2 combinations, with and without
() : 1 combination
()+ : 1 combination
()* : 2 combinations, with and without
( l() | r() ) : 2 combinations, left and right cases
( l() | m() | r() ) : like ( ( l() | m() ) | r() ): 2+1=3 combinations, left, midle and right cases (and so on)
A() B() : if A() has 4 subcombinations A1 A2 A3 A4 and B() 2 B1 B2, I would generate m

[2020-01-27 11:15] vlsi commented on #140
They say randomization + coverage guidance helps to generate semantically valid inputs: http://lcamtuf.coredump.cx/afl/

[2020-01-27 11:29] MarcMazas commented on #150
IHMO:
- showing the line / the 3 last lines would help those how work on the command line but not those who work with an IDE plugin which puts a marker on the source line (like the Eclipse JavaCC plugin - which by the way does syntax checking, without proposing quick fixes, which would come, in a future enhancement, through the expected tokens list output)
- loosing the expected token(s) without a

[2020-01-27 11:31] MarcMazas commented on #150
By the way, the Eclipse JavaCC plugin grabs and parses the javacc output, so any change on it will have an impact.

[2020-01-27 12:51] vlsi commented on #150
@MarcMazas , can you please list what is actually needed by the plugin?

For instance, I doubt that message `(type "javacc" with no arguments for help)` makes sense to Eclipse JavaCC plugin.

By the way, I expect that the plugin bundles its own `javacc.jar` copy, so even if the messages are changed/removed, then the plugin could be adapted to the new version.

[2020-01-27 13:16] zosrothko commented on #152
One could add an option to reduce such verbosity but the default should stay as now

[2020-01-27 13:35] MarcMazas commented on #150
In sf.eclipse.javacc.head.ConsoleView:
  /** Pattern to find the Error or Warning or ParseException message in JavaCC / JJTree compilation messages */
  private final static Pattern               sJjPbPattern    = Pattern.compile("(^Error:|^Warning:|^Error parsing input|Lexical error|Encountered[: ])(.+)$");    //$NON-NLS-1$

  /** Pattern to find the line and column numbers in a JavaCC / JJTree c

[2020-01-27 22:45] mathieu-margier opened #156 "Grammars : PHP.jj and PetalParser.jj are identical"
I think there has been a wrong manipulation when committing the grammar of PHP : [grammars/PHP.jj](../blob/master/grammars/PHP.jj) and [grammars/PetalParser.jj](../blob/master/grammars/PetalParser.jj) are the same file, both containing PetalParser.

[2020-01-29 20:54] jvanhill commented on #131
Several issues as stated above:

- The javacc.jar is in the "bootstrap" folder, and not the "libs" folder as the scripts are pointing.
- The 'bin' directory appears to have been renamed to 'scripts'.

[2020-01-29 21:42] Black-Photon commented on #131
Just a note on that first point, the `javacc.jar` in `bootstrap/` is actually an old version of JavaCC being used to compile the new versions - the actual file is only generated on build, and is instead installed into `target/` (still not `libs` as documented)

[2020-01-30 13:44] vlsi opened #159 "Consider binary compatibility for the generated code"
Current constants are generated as interface constants -> they are inlined by javac, so the client code must be recompiled every time the grammar is re-generated.

What if JavaCC produced constants in such a backward-compatible way?

For instance:
1) Generate `enum`
2) Use non-inlinable code for constants. For instance, if the constant is declared as `int DECIMAL_LITERAL = Math.max(42, 0)`, then j

[2020-01-31 08:30] zosrothko commented on #156
If you find out the PHP.jj grammar, I will replace it.

[2020-02-01 09:36] oowekyala commented on #159
To note, that with option 2, it wouldn't be possible to switch on the token kind in the parser (switch requires constant expressions as labels).
A third solution, that uses ints as token kinds, would be to generate two files:
* one for private use by the parser, where token ids are compile-time constants
* one for the public API, where the ids are not compile-time constants, and hence are not inli

[2020-02-01 10:10] vlsi commented on #159
Note: user code might want to have `switch(...)` over token kinds as well, so `enum` is probably ok.

[2020-02-01 10:14] #18 closed

[2020-02-01 15:14] vlsi commented on #140
Ok. The fuzzer in #160 works for certain cases. Lookahead is not yet implemented, however, it does generate tokens.

Here are the samples with `grammars/PlSql.jj`:

[code]

[code]

[code]

[code]

[2020-02-04 21:10] mathieu-margier commented on #156
Here is the most recent one I can find :

[2020-02-06 10:31] zosrothko commented on #156
Fixed

[2020-02-06 10:31] #156 closed

[2020-02-06 10:32] zosrothko commented on #147
Contribution are welcome on this issue.

[2020-02-06 10:55] vlsi commented on #147
Feel free to pick this up.

I see no reasons to contribute provided the project lacks build system (it doesn't load to IDE).
Apparently, [build system contributions are not welcome](https://github.com/javacc/javacc/pull/143) either.

[2020-02-06 11:19] vlsi commented on #141
Just in case: I see there's no much interest in Gradle build scripts at this point, so I no longer work on this issue / PR. Feel free to pick it up or close it.

[2020-02-09 23:31] Black-Photon commented on #131
Fixed by #157

[2020-02-09 23:31] #131 closed

[2020-02-12 20:35] vlsi commented on #140
I moved the fuzzer development to https://github.com/vavrcc/vavrcc/pull/1

[2020-02-20 17:03] sebhunt999 opened #162 "Undetec"

[2020-02-20 17:03] #162 closed

[2020-02-20 17:31] sebhunt999 opened #163 "Undetected choice conflict"
For some grammars, javacc appears to detect a choice conflict if Kleene-* is used but fails to detect the same conflict if an auxiliary non-terminal is used instead of Kleene-*.

The conflict is detected in this version:

A ::= "new" T "[" "0" "]"
T ::= "int" ( "[" "]" )*

But not in this one:

A ::= "new" T "[" "0" "]"
T ::= "int" Q
Q ::= "[" "]" Q
Q ::=

Since follow(Q) = follow(T) = { "[" } I t

[2020-02-20 18:05] zosrothko commented on #163
Please specify which version of JavaCC you are using?

[2020-02-20 20:07] sebhunt999 commented on #163
Apologies. I've tested this with versions 5.0 and 7.0.5. Same behaviour for both.

[2020-02-21 08:19] MarcMazas commented on #163
This behavior is related to issue #86.
The | {} last part of Q() makes this production always matched (so therefore no choice conflict), which is not the same if Q is written as Q ::= [ "[" "]" Q ], which is the same form as T().
Using | {} looks to me quite weird and should be done really on purpose.

[2020-02-21 10:36] sebhunt999 commented on #163
I can see that it looks like it may be related to #86, though I'm not familiar with the internals of JavaCC so not really able to judge . But I don't think there is anything weird about empty productions, they are standard in CFGs.

[2020-02-21 11:00] sebhunt999 commented on #163
I've had a look at #86 in a bit more detail. A very long discussion which I don't fully understand but I notice this comment from @new-javacc :  "one more thing you should remember is that {} is NOT empty". Maybe that is my mistake. So what is the correct way to specify an empty production in JavaCC?

[2020-02-21 15:30] sebhunt999 commented on #163
Now I see in the FAQ that JavaCC _"does not calculate follow sets in the standard way, and cannot do so as JavaCC has no idea what your starting non-terminal will be"_. My expectation that JavaCC would detect the choice conflict in this example was based on my assumption that JavaCC was indeed calculating follow sets.

Can anyone clarify (or point to a clarification in the docs) when JavaCC will/w

[2020-03-03 18:33] AngledLuffa opened #165 "GENERATE_STRING_BUILDER still produces StringBuffer"
Using javacc 7.0.5 on TregexParser.jj, a library used in Stanford CoreNLP, we still get 3 copies of StringBuffer with the flag -GENERATE_STRING_BUILDER turned on.  2 in ParseException.java , 1 in TokenMgrError.java .

[2020-03-04 15:29] #165 closed

[2020-03-25 15:54] mbg opened #167 "Dockerfile"
I have (mostly for my own purposes), created a [Dockerfile for JavaCC](https://github.com/mbg/javacc-docker). I don't know if there would be interest to incorporate it into this repository (if so I could open a PR) or link to it?

[2020-04-10 17:57] n-deutsch opened #168 "jjTree generates a method too large to compile"
In my project jjTree generates a method within FormulaParserTokenManager that's 5,972 lines long. This produces the following compilation error:
[code]
FormulaParserTokenManager.jjMoveNfa_b_0 is larger than 64kb of bytecode so it refuses to compile.

Currently running javacc-5.0. I tried running it with 7.0.0 but that created an even bigger method :(

[2020-04-11 18:07] kaikalur commented on #168
You can try 8.0!

In general though this usually means you have inefficiency in the grammar. I posted on this topic many times if you can find some old mailing list archives!

[2020-04-11 21:08] kaikalur commented on #168
Actually, just look at the lexer tips document. I'm pretty sure you are doing one of the donts from that doc.

[2020-04-12 07:37] zosrothko commented on #168
@kaikalur Sreeni, actually, there is no mailing list archived anywhere. Could you add the one saved from java.net.dev.javacc to the JavaCC github repository?

[2020-04-12 23:27] n-deutsch commented on #168
Thanks guys, I'll take a look

[2020-04-13 19:53] #168 closed

[2020-04-13 19:58] kaikalur commented on #168
OK Hopefully you found what's wrong with either your grammar or javacc :) If so, please post here for others info. Thanks!

[2020-05-12 20:17] matozoid opened #170 "Hostile fork of JavaCC"
Hi! For the last few days we, the people from JavaParser, have been bullied by the creator of a hostile fork of JavaCC, who has also claimed http://javacc.com . This is a friendly warning to be very cautious when dealing with this person.

[2020-05-13 05:51] zosrothko commented on #170
@matozoid Thank for the notice... From my knowledge, this person had not interacted with JavaCC up to know, but I do not have a full view of JavaCC. May be @new-javacc have some historic informations about.

[2020-05-13 05:56] rusnasonov opened #171 "Help with tutorial"
Hi, thanks for library!

I read [this](https://javacc.github.io/javacc/tutorials/examples.html#jjtree) tutorial and have some trouble with **jjtree**. `jjtThis.setName(t.image);` not working. I got error `error: cannot find symbol jjtn000.setName(t.image);` when compile `.jjt` file. How I can set name for node?

JavaCC 7.0.5

[2020-05-13 06:31] zosrothko commented on #171
Please read this README: javacc-7.0\examples\JJTreeExamples\java\README

[2020-05-13 07:07] rusnasonov commented on #171
Thanks, I understand — I need to change generated node class. But it's ok? JavaCC add checksum to end of file.

[2020-05-13 08:52] zosrothko commented on #171
No, you need to copy the provided AST*.java class to the directory where is the grammar. JavaCC checks any file it should generate and does not override it if it exist

[2020-05-13 09:15] rusnasonov commented on #171
Thanks!

[2020-05-13 09:15] #171 closed

[2020-05-13 12:49] wumpz commented on #170
I think he tried (https://github.com/martinswanson/gradle-template/issues/2) but got no response.

[2020-05-16 09:36] albert-github opened #172 "Bare version information from javacc jar file"
It would be nice to be able to give the command:
[code]
or something alike that would just output the version number  like: `7.0.5`,  `7.0.6` or `8.0.0` currently only a search through the `javacc` will give a line like:
[code]

[2020-05-16 11:59] zosrothko commented on #172
Contibutions are welcome...

[2020-05-18 06:02] frajt opened #173 "DEPTH_LIMIT compilation error"
We would like to use the DEPTH_LIMIT option but it seems to be not supported. The generated code is missing the definition of _jj_depth_error_ variable and as there is actually no code to generate it. What is the current status of the DEPTH_LIMIT option?

[code]

[2020-05-18 06:18] zosrothko commented on #173
Which version of JavaCC are you using?

[2020-05-21 06:37] #172 closed

[2020-05-27 15:35] rusnasonov opened #174 "Add Kotlin support"
Kotlin is very perspective language and similar with Java. It will be cool to generate Kotlin from JavaCC grammar.

[2020-05-29 15:34] jrevusky commented on #170
I just realized that I specifically (using the account 'revusky') was blocked from replying to this. Is it normal for you guys to talk about people and deny them any right to reply? It's not something that I would do. In my world, that is completely improper.

The history of the so-called "fork" is laid out here: https://doku.javacc.com/doku.php?id=ancient_history and if you think I said anything

[2020-05-29 16:58] jrevusky commented on #170
You're missing the point. My normal account is not jrevusky. It's @revusky. I created the jrevusky account specifically to be able to write a reply. And that is why the account is only 2 hours old!

As I said already, in my world, it is completely improper to talk about somebody and give that person no opportunity to reply. But, come to think of it, I faced this same kind of unethical behavior in

[2020-05-29 18:41] #170 closed

[2020-05-30 21:07] new-javacc commented on #174
You are welcome to do it! With 8.0 it's a lot simpler

[2020-06-08 08:24] murkle opened #175 "Doesn't work in Turkish Locale"
All calls to String.toLowerCase() / toUpperCase() should be changed to **String.toLowerCase(Locale.English_US)** / **toUpperCase(Locale.English_US)** so that they don't depend on the user's locale

See https://garygregory.wordpress.com/2015/11/03/java-lowercase-conversion-turkey/ for an explanation, in short "I".toLowerCase() doesn't give "i"

In particular options with "i" in don't work but there

[2020-06-08 08:41] zosrothko commented on #175
Which version of JavaCC are you using?

[2020-06-08 08:51] murkle commented on #175
5.0, 6.1.2, 7.0.5

It's in current master eg https://github.com/javacc/javacc/blob/master/src/main/java/org/javacc/parser/JavaCCGlobals.java#L579

and it's good practice to replace (or at least review and comment) all uses of toLower/UpperCase()

[2020-06-08 09:22] zosrothko commented on #175
Could you rename this javacc-7.0.8-SNAPSHOT.zip to javacc-7.0.8-SNAPSHOT.jar and test it?

[javacc-7.0.8-SNAPSHOT.zip](https://github.com/javacc/javacc/files/4745010/javacc-7.0.8-SNAPSHOT.zip)

[2020-06-09 04:50] mutigozel opened #176 "C# Example"
Can you provide an example on how to generate C# output from jjt?

[2020-06-11 09:45] murkle commented on #175
Sorry, we can't check now. My colleague has re-installed Windows in English to workaround this

[2020-06-12 07:43] shinux opened #177 "How to avoid unicode escapes being processed firstly."
Suppose there's an javacc `example.jj` file:
[code]
after JavaCC  compiled `example.java` file:
[code]
Hence IDE will prompt me that `too many characters in character literal`, how to keep `\\` in compiled file.

[2020-06-12 07:54] MarcMazas commented on #177
What version of JavaCC are you using? What is your OS? What is the encoding of your environment (shell)? What is the encoding of your example.jj file? Which IDE are you using, with which editor?

[2020-06-12 08:04] shinux commented on #177
Sorry for lacking of basic infos:

JavaCC version:  6.0_1
OS: macOS Catalina 10.15.5
Shell: zsh 5.7.1 (x86_64-apple-darwin19.0)
JavaCC file options:
[code]
IDE: IntelliJ IDEA 2019.1.3 (Ultimate Edition)
IDE Plugin: [intellij-javacc 1.4](https://github.com/oowekyala/intellij-javacc)

I also checked this Question on Stack Overflow: https://stackoverflow.com/questions/13560067/how-to-let-javacc-not-t

[2020-06-12 08:18] MarcMazas commented on #177
As pointed in the SO link, it looks it is an IDEA or IDEA JavaCC plugin problem, not a JavaCC problem. I suggest you to submit it on the appropriate site. Aso check your .jj, .java and project encodings.

[2020-06-14 21:01] new-javacc commented on #176
cc'ing the group!

Thanks for your interesting in C# code generation. You can simply run
javacc with -CODE_GENERATOR"'org.javacc.csharp.CodeGenerator" option and
it should work. Make sure include namespace. Let me know if you still
have issues.

[2020-06-16 02:44] #177 closed

[2020-06-25 06:40] #175 closed

[2020-06-25 06:48] murkle commented on #175
Thanks for the quick fix! 👍

[2020-06-25 16:16] albilu opened #178 "Broken urls for javacc releases | Error no main manifest attribute, in target/javacc.jar"
Hello,

Can you tell why all download url are broken? It is impossible to download javacc at least 7.0+ releases.
Exemple for last release 7.0.8: **404 Not found**

https://github.com/javacc/javacc/archive/7.0.8.zip

Also with installation guide i am getting this error even with a fresh build from the source:

this error each time
**no main manifest attribute, in target/javacc.jar**

[2020-06-25 16:56] zosrothko commented on #178
Hello...
Yes since 7.0.7 links are broken... Anyway, you can use and download here: [javacc-7.0.8](https://github.com/javacc/javacc/archive/javacc-7.0.8.zip)

" Error no main manifest attribute, in target/javacc.jar" This is not an error because ther are multiples "main" classes in the javacc jar: javacc, jjtree and jjdoc

[2020-07-08 07:09] Yokosama commented on #176
i tried this (version: javacc 7.0.9), but warning: -CODE_GENERATOR is bad option will be ignored ? i miss something?

[2020-07-08 07:17] zosrothko commented on #176
You should use javacc-8.0.0-SNAPSHOT with -CODE_GENERATOR="C#"

[2020-07-08 07:20] MarcMazas opened #179 "Type parameters in expansion_unit ?"
Hi
In https://github.com/javacc/javacc/blob/master/src/main/javacc/JavaCC.jj, around line 1305, the grammar shows optional TypeParameters for the production (method, not class). Why is it there? For C++? How can they appear in Java? Thanks.

[2020-07-08 07:27] Yokosama commented on #176
i download the branch 8.0.0 source code, but not found javacc-8.0.0-SNAPSHOT, where is it? thank you;

[2020-07-08 08:13] zosrothko commented on #176
Yes, at the javacc-8.0.0 directory run: mvn clean install

[2020-07-08 08:14] #178 closed

[2020-07-08 08:17] Yokosama commented on #176
thank you

[2020-07-08 08:17] zosrothko commented on #179
Yes, that's for instantiating C++ template reference

[2020-07-09 07:47] MarcMazas commented on #179
I'm sorry I'm not the best person to add this check as I am too far from the C++ features...

[2020-09-17 10:26] dweiss opened #183 "Lookahead is broken since 7.0.5 (introduced in commit fbac68f)"
I tried to upgrade Apache Lucene query parser generators from an ancient javacc (5.0) to 7.0.9 and to my surprise they behaved differently - lookahead wasn't working as expected. I tracked down the change in behavior to 7.0.5 (7.0.4 is working correctly).

Specifically, this commit: fbac68fbfb152c7dbb48f730d8e45a978941380c

I think this issue has been fixed by:
https://github.com/javacc/javacc/pul

[2020-09-17 10:55] zosrothko commented on #183
The next release of javacc-7.0.10 will have the fix embedded. There is no release date as for now. Thus do you mind to use the javacc-7.0.4 version instead?

[2020-09-17 11:04] dweiss commented on #183
I don't mind at all. But I spent a good hour looking for the problem... It should be stated clearly on javacc front page that versions 7.0.5 and on have a problem - would save people some time debugging!

[2020-09-17 13:38] zosrothko commented on #183
Your are rigth @martinswanson Would you minde to update the documentation/README with the problem's statement with a large police?

[2020-09-17 14:04] martinswanson commented on #183
Done. I just submitted a pull request for this.

[2020-10-26 08:27] shinux opened #188 "Typo on official documentation static web site"
Just noticed that a simple example on https://javacc.github.io/javacc/#example :
![image](https://user-images.githubusercontent.com/7784713/97149482-c3fc4800-17a7-11eb-8eae-9236b154ebac.png)

and for this simple example `}}}` is definitely an illegal input which may confuse rookie like me.

But I also noticed that  [origin doc file](https://github.com/javacc/javacc/blob/master/docs/tutorials/examp

[2020-10-26 09:20] MarcMazas opened #189 "Grammar fix for AllocationExpression"
Hi
A small grammar fix:
change
void AllocationExpression() :
{}
{
  LOOKAHEAD(2)
  "new" PrimitiveType() ArrayDimsAndInits()
| "new" ClassOrInterfaceType() [ LOOKAHEAD(2) EmptyTypeArguments() | TypeArguments() ]
  (
    ArrayDimsAndInits()
  | Arguments() [ ClassOrInterfaceBody() ]
  )
}

and add
void EmptyTypeArguments() :
{}
{
  "<" ">"
}

[2020-10-26 09:26] martinswanson commented on #188
It renders correctly when you view the document on GitHub
https://github.com/javacc/javacc/blob/master/README.md <https://github.com/javacc/javacc/blob/master/README.md>

I guess this is an issue with the way the GitHub pages theme renders the markup document ?

Martin

[2020-11-02 10:52] MarcMazas opened #190 "Fix doc for token_manager_decls"
In the doc (/docs/documentation/grammar.md), the token manager declarations java part is said to be a java_block, but it is rather a ClassOrInterfaceBody(). For example one can have
TOKEN_MGR_DECLS : {
  static boolean isTM;
  static { isTM = false; }
}
which is more than a block.

[2020-11-02 17:41] zosrothko commented on #190
@MarcMazas Hello Marc, could you provide a PR for your issue?

[2020-11-22 15:52] zosrothko commented on #189
@MarcMazas Could you provide a simple test that demonstrate your change proposal?

[2020-11-22 16:12] #188 closed

[2020-11-22 18:17] GhiathNajjar opened #192 "Encountered " ">""
I'm trying to write some Java code in the jj file. However, it seems that the javacc parser is having trouble reading a block of code.

This is the code:
[code]
If I run javacc then i get the following error:

org.javacc.parser.ParseException: Encountered " ">" "> "" at line 99, column 57.
Was expecting one of:
    "LOOKAHEAD" ...
    "IGNORE_CASE" ...
    "PARSER_BEGIN" ...
    "PARSER_END" ...

[2020-11-23 07:44] zosrothko commented on #192
Can you display what version of JavaCC are you using, the optionblock, your grammar or at least where is the 99 line?

[2020-11-23 08:00] MarcMazas commented on #192
Hi. It looks you are using function / lambda related syntax (... -> ...) which is part of Java 8, which is not supported by the currrent versions of JavaCC. A workaround is to put all this kind of code in a helper class outside the grammar file.

[2020-11-23 08:02] zosrothko commented on #183
Fixed in javacc-7.0.10

[2020-11-23 08:02] #183 closed

[2020-11-23 09:08] GhiathNajjar commented on #192
I'm using version 7.0.9 and the 99 line is this line as I mentioned:

`return hashMap.entrySet().stream().filter(i -> i.getKey().id.equals(id)).findFirst().get().getKey().id;`

[2020-11-28 17:01] kaikalur commented on #192
Like I mentioned many times - I'm more and more convinced that code should live outside of the jj file. Just use the subclass/superlas mechanisms to do this. With JavaCC 8, we will completely stop checking the code so it should get better. But even then, it's best to keep all code outside of the grammar.

[2020-11-28 18:30] zosrothko commented on #192
@GhiathNajjar Since this issue will not be fixed in release 7.0, could you apply the workaround. Thanks
I am closing this issue since no fix will be provided.

[2020-11-28 18:30] #192 closed

[2020-11-28 18:35] #159 closed

[2020-11-28 18:36] zosrothko commented on #141
As per the above discussion, javacc build is using Maven for now. May be later on, Gradle would be considered.

[2020-11-28 18:36] #141 closed

[2020-11-28 18:56] zosrothko commented on #90
@wumpz May be you could do this token disambiguity by using `TOKEN_MGR_DECLS `and `CommonTokenAction `in which you can check and remind for a first "[", then check and remind for the 'abc', then check and remind the closing ']'. In case of a single token '[acd]', then replace the token '[' by a new token '[abc]', link it to the previous token of '[' and remove the 'abc' and ']' tokens. For sure, t

[2020-11-28 18:58] zosrothko commented on #117
@albert-github Could this issue be closed?

[2020-11-28 21:51] matozoid commented on #90
Oh, @MarcMazas, yes, in a way, not sure if it should be called "semantic" then. And an update: more recent Java versions have been more wild with changes, and now some tricks have been used to make token types configurable, and to accept some tokens as identifiers too. I just wrote a bit about it on the JavaParser gitter channel.

[2020-11-29 11:05] albert-github commented on #117
I think that this issue can be closed. I don't exactly know why I originally submitted it but most likely to signal that `null` in lowercase should not be used at all as C++ has defined `NULL`.

[2020-12-08 14:01] lijinliangyihao opened #193 "Code error in class RCharacterList.SortDescriptors()"
I believe there is an code error in RCharacterList, method SortDescriptors, line 487. Here's my test case:
[code]

In ```testSortDescriptors1``` the result is
[code]
and that is correct. But in `testSortDescriptors2` the result is
[code]
We can see that in line 2 the end of CharacterRange is smaller than the start of it. I don't think this is right.
The reason lie in the `else if` block in line 48

[2020-12-08 14:39] zosrothko commented on #193
Which version are you using? Can you upload your grammar?

[2020-12-08 15:18] lijinliangyihao commented on #193
Master branch. I've also checked other branches, they're all the same. The suspected line is in javacc source code(not java file generated by javacc), file path is `src/main/java/org/javacc/parser/RCharacterList.java`, in method `SortDescriptors`,  line 487, would you please check out if I'm right?

[2020-12-10 21:54] oowekyala commented on #159
@zosrothko What happened to this issue? Did you decide on something? and will #158 ever be merged?

[2020-12-11 07:19] lijinliangyihao commented on #193
@zosrothko

[2020-12-24 06:37] MarcMazas commented on #193
Hi. This looks to me a real bug, detected by a junit test case. Nothing done on it?

[2020-12-24 06:42] lijinliangyihao commented on #193
@MarcMazas No. I've already wrote how to fix it in the issue, but got no reply, so I close the issue.

[2020-12-27 01:20] Betty-Wong commented on #193
The sortDescriptors() method seems to be implemented more cleanly here:
https://github.com/javacc21/javacc21/blob/master/src/main/java/com/javacc/lexgen/NfaBuilder.java#L405

[2020-12-27 04:49] zosrothko commented on #193
Fixed in javacc master branch, commit b34b17f6507f6e929bf4392a4ef3063e6ea3c8bf
To back port to JavaCC 8

[2020-12-28 08:57] #193 closed

[2021-01-02 22:34] #130 closed

[2021-03-15 10:52] timbault opened #194 "Java 11 support"
Hi,

are there any plans to support java 11 in the near future?

Thank you

Regards

[2021-03-26 02:18] xuexiaowengh opened #195 "A tutorial problem"
[https://javacc.github.io/javacc/tutorials/lookahead.html#example5](url)

`void BC() :
{}
{
  "b"
  [ LOOKAHEAD( { getToken(1).kind == C && getToken(2).kind != C } )
    <C:"c">
  ]
}`
Is the second condition getToken(2).kind == C ?

[2021-03-28 10:10] zosrothko commented on #194
What do you mean by "support Java 11"?

[2021-03-31 11:30] timbault commented on #194
Hi,

"support java 11" means "compile javacc grammar with java11 and execute the generated code with java 11".

![image](https://user-images.githubusercontent.com/25931001/113137723-31b01280-9225-11eb-8a46-8d0d2b0e9ab7.png)

[2021-04-03 13:32] zosrothko commented on #194
Using Java 11, you can compile a Java 8 source code and execute it using the Java 11 JRE. While JavaCC itself is using features from the Java 1.7, it is compiled with the source & target JDK 1.8. Thus you can run the produced parser/lexer with Java 11 without any problem.

`Java 9 and Java 10 are not supported` means that the Java language features of those version are not handled by JavaCC, i.e.,

[2021-04-10 06:51] #194 closed

[2021-04-17 05:44] netcrystals opened #197 "Is the STRING_LITERAL lexer rule incomplete in the tutorial?"
Hello,
I am currently writing a JavaCC Netbeans module. I used the official JavaCC grammar on your [homepage](https://javacc.github.io/javacc/documentation/bnf.html).
I think that the STRING_LITERAL

<STRING_LITERAL: "\"" (~["\"","\\","\n","\r"] | "\\" (["n","t","b","r","f","\\","\'","\""] | ["0"-"7"] (["0"-"7"])? | ["0"-"3"] ["0"-"7"] ["0"-"7"]))* "\"">

is incomplete. When my module highlights t

[2021-04-27 16:26] albert-github opened #198 "Version on javacc.org"
On the javacc.org there are still quite a few references to version 7.0.9 though I think this should be 7.0.10.

(Unfortunately I could not reopen the issue #122)

[2021-04-27 20:11] zosrothko commented on #198
You are right... will have a look sooner or later

[2021-05-05 02:32] pstemari opened #199 "Create equivalent to lex's REJECT action"
Occasionally it is very useful to reject a regex match and force the lexer to find a different match.

For example, matching dates with a pattern such as `([0-9][0-9][0-9][0-9])-([1-9]|1[0-2])-([1-9]|[12][0-9]|3[01])`, it is possible to match invalid dates such as 2021-02-29 or 2020-06-31.  While a much more complex pattern to reject these matches is possible, it's much easier to do something like

[2021-05-05 16:57] MarcMazas commented on #199
Hi

There are some workaround possibilities, playing with the token manager or the lookahead, like this:

/*
* Test grammar for answering  [javacc/javacc] Create equivalent to lex's REJECT action (#199)
*/
options
{
  STATIC = false;
}

PARSER_BEGIN(MyNewGrammar)
package my.pkg;

import java.time.*;
import java.time.format.*;
public class MyNewGrammar
{

  /**
  * Standard <code>main</code> method

[2021-05-25 13:06] MarcMazas opened #201 "Bad defaultVisit() method generated"
Hi

If, in a JJTree grammar, one wants to set a visitor return type different that the visitor data type, the defaultVisit() method does not compiles as it is coded to return the data parameter. E.g.:

  VISITOR = true;
  VISITOR_RETURN_TYPE = "boolean";
  VISITOR_DATA_TYPE = "String";

  public boolean defaultVisit(SimpleNode node, String data){
    node.childrenAccept(this, data);
    return dat

[2021-06-08 15:39] MarcMazas commented on #190
Hi. I did the fix on my local repo, created a commit. But pushing it to javacc/javacc.git master replies with an error (git-receive-pack not permitted). I did create a personnal access token and used it for usr/pat login over https.
Do I have the appropriate rights (ie does I need to be a contributor)?

[2021-06-09 11:19] zosrothko commented on #190
You need to do a PullRequest from your forked copy of javacc

[2021-06-09 14:56] MarcMazas commented on #190
I git-cloned on my PC the javacc repo, created a commit and a branch on it.
I do not see how to create a PullRequest on the javacc repo referencing a branch on something other than another github repo.
Do I need to create a fork on github?

[2021-06-10 15:08] #190 closed

[2021-06-17 08:42] #201 closed

[2021-06-17 08:43] #189 closed

[2021-06-29 15:03] paulirwin commented on #176
The git submodule for the codegen folder on the 8.0.0 branch does not exist: https://github.com/javacc/codegenerator

Is there any guidance on how to get the 8.0.0 branch to compile? Thanks in advance!

[2021-06-29 19:39] zosrothko commented on #176
@paulirwin the 8.0.0 branch of this [JavaCC repository](https://github.com/javacc/javacc) is a staled branch that I deleted rigth now. If you want to get the JavaCC-8 version and speciallly the C# generator, please checkout this [javacc-8-csharp](git@github.com:javacc/javacc-8-csharp.git) and more generally all javacc-8-* repos.

[2021-07-13 14:38] elfring opened #214 "Remove unnecessary null pointer checks"
[An extra null pointer check is eventually not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
- [JJCalls](https://github.com/javacc/javacc/blob/5aa22f0f089ae2888b69ca65b5fa75e55b3384bd/src/main/java/org/javacc/parser/ParseGenCPP.java#L81 "Destructor for JJCalls")
- [Token](https://github.com/ja

[2021-07-13 19:52] zosrothko commented on #214
@elfring Hi, could you make a pull request and also back port to the javacc-8 version?

[2021-09-30 01:53] hiteshsharma opened #216 "Unicode character support in grammar"
Hi, I'm using JavaCC 7.0.10 and JJTree to define a grammar but I see that javacc is not able to understand unicode characters in the grammar
[code]
When generating the parser I'm getting the following error
[code]

Any suggestions? Thanks in advance!

[2021-09-30 01:55] new-javacc commented on #216
Just escape the backslashOn Sep 29, 2021 6:54 PM, hitesh sharma ***@***.***> wrote:
Hi, I'm using JavaCC 7.0.10 and JJTree to define a grammar but I see that javacc is not able to understand unicode characters in the grammar
TOKEN: {
  <SPACE: [" ", "\u000A", "\t", "\f" ]>
}

When generating the parser I'm getting the following error
Java Compiler Compiler Version 7.0.10 (Tree Builder)
(type "jjtr

[2021-09-30 01:58] hiteshsharma commented on #216
Thanks. that gives the following error
[code]

[2021-09-30 02:04] hiteshsharma commented on #216
Actually I'm sorry, "template" is something that is defined in my grammar. Is template a reserved word in Javacc 7.0.10? It works fine with v6.1.2

[2021-10-19 08:21] ashudeep-sharma opened #217 "Code Changes not present in javacc jar"
Hello,
        I recently upgraded to JavaCC version **7.0.10**, where-in we are looking for performance improvements done in javacc, we came  across a  commit https://github.com/javacc/javacc/commit/078b3b4e1d46985a74b6e0a8b5c30da3a724a115 ,which is  present in the source code  of javacc version 7.0.10 but  is not present  in the compiled  javacc jar. I just wanted to check if there is any reason

[2021-12-20 12:30] m-coder99 opened #218 "Operator in Javacc"
can xor  (^) operator in javacc like or (|) operator

[2022-03-14 00:31] priand opened #220 "Add error line and column to TokenMgrError"
Currently, the error line & column values are embedded in the message. It would be beneficial to have these values in the exception object as integers. It is possible to access these values in a ParseException through the currentToken member.

[2022-03-14 10:02] zosrothko commented on #220
Hello... that's a good idea... and contributions are welcome!

[2022-04-03 12:13] nodermatt commented on #178
You have to run javacc from the scripts folder of the javacc repository. Not execute the build jar with java -jar
[code]

[2022-04-06 16:17] albert-github commented on #198
The problem with 7.0.10 looks k\like to be resolved though I now see on the release notes page (https://javacc.github.io/javacc/release-notes.html) that there should be a version 7.0.11 but nowhere a  a jar file or sources to be found.
- is the 7.0.11 version officially released or is it work in progress, in the later case this should be mad clear on the mentioned page.
- it would be good when the

[2022-04-10 22:05] wumpz opened #221 "Is it somehow possible to use this javacc jar to parse a jjt and jj file"
I want to construct some tests depending on the tokens used in a specific rule of my grammar.

[code]

So I have a jjt file and need to transform this in a jj file and then parse this and get the AST - node tree, to traverse it.

My first attempt was this:

[code]

But I have to fight method and class visibility issues:

**IO** is only package private, **ASTGrammer.generate** is package private as

[2022-04-13 17:49] zosrothko commented on #198
@albert-github the web site javacc.org is maintained by the son of Sreeni or by Sreeni itself -- Github id: @new-javacc. So you should contact him of email at: sreeni@viswanadha.net. There is nothing I can do on this website. I would suggest to check the JAvaCC version and documentation on the JavaCC Github repository

By the way, there the latest released version is 7.0.10 as specified on the REA

[2022-04-13 18:14] zosrothko commented on #198
You are rigth. The problem is that I am the only maintainer of the JavaCC release and delivery process and have no time to track any new release. There is also a decision to be made when to push a new release or not. And this cannot be acted without the consent of JavaCC oxner, i.e. Sreeni Viswanadha.

OK

Contributions are welcome...

[2022-04-15 02:41] manticore-projects commented on #221
Or in other words: What would be the best (e.g. simplest and most robust) to extract the actual Tokens from a jj Grammar File, without running JTREE first and also considering Composite Tokens.

[2022-04-17 11:45] #97 closed

[2022-04-17 11:46] #94 closed

[2022-04-17 11:46] #90 closed

[2022-04-19 13:08] zosrothko commented on #198
@albert-github I just released the JavaCC 7.0.11 version embedding the #193 fix. Let 24h before MAven central be updated. By the way, you can get it from  [Sonatype](https://oss.sonatype.org/#nexus-search;quick~javacc)
Thank for checking it is ok for you.

[2022-04-19 13:35] albert-github commented on #198
Strangely enough I don't see the version at https://github.com/javacc/javacc/releases or https://github.com/javacc/javacc

[2022-04-19 14:42] zosrothko commented on #198
Release added from automatic tag generation. The release is build by mvn release, which does not update the Github tags

[2022-04-21 12:16] wumpz commented on #221
Any info here?

[2022-04-21 12:25] zosrothko commented on #221
What do you mean by 'package private'. In Java, one can have only 3 scopes

1. private scope
2. public scope
3. package scope

[2022-04-21 13:52] wumpz commented on #221
@zosrothko Or maybe I think to complex. To get a traversable tree and find defined tokens in my grammar is it sufficient to make a JJtree parse and use the nodes? I assumed I need somehow to derive the JJ file and parse this. Wrong?

[2022-04-22 21:17] wumpz commented on #221
To use this "simple" lines of code:

[code]

I need to call `JJTreeOptions.init()`, but that is not possible due to access levels.

[2022-04-24 19:19] wumpz commented on #221
Now I succeeded to parse the files. I needed to use the main functions and build the temporary jj file and open this in the parser.

[code]

Now I found out, that all parsed stuff is stored in `JavaCCGlobals` in a static way. This is strange but so be it.

So how can I use this data to extract all defined tokens and which tokens are used in my specific productions?

[2022-04-24 19:52] wumpz commented on #221
So it seems I needed to call `Semanticize.start();`. Now I am able to read the defined tokens via:

[code]

[2022-04-24 21:25] wumpz commented on #221
Ok, again the wrong list. Now I get the id as well:

[code]

[2022-04-24 22:50] wumpz commented on #221
So extracting the tokens from my production rules seems to be done using

[code]

Could you tell me if I do something horribly wrong here? Is there a better way?

[2022-04-25 09:30] manticore-projects commented on #221
@Wumpz, great job and well done. However, I have two questions:

1) why do we need to read tokens from the Production `RelObjectName`? In my understanding, we needed ALL defined tokens of the Grammar, then reduce it by the Reserved Keywords and put the difference into `RelObjectName`?
2) what is the difference between calling JAVACC from inside Java and parsing the file and calling JTREE from Mave

[2022-04-26 19:58] wumpz commented on #221
@manticore-projects
1. There are those five variants of `RelObjectName` productions, each used in different syntactic situations to avoid lookaheads. So if we want to preserve this, then the information from which production a keyword comes matters.
2. Now we can scan the grammar to set up tests on the fly. For instance running one single test does not nessesarily run the needed Maven/Gradle goals

[2022-05-03 15:51] Betty-Wong commented on #221
You guys might considering a version of JavaCC that actually supports what you want to do. See [here](https://javacc.com/2021/06/13/activating-de-activating-tokens/).

Granted, that might endanger your honorary membership in the [Norbert Sudhaus Fan Club](https://javacc.com/2020/11/05/three-cheers-for-norbert-sudhaus/)

[2022-05-14 14:34] manticore-projects commented on #221
For reference, below is the code which finally returns all Keywords from a Grammar:

[code]

We can close this issue.

[2022-05-15 12:46] protasm opened #225 "Problem with README.md when displayed on home page"
Hello, I'm not experienced with GitHub so I apologize for any mistakes.  I'm just dropping in to note that on the home page available at https://javacc.github.io/javacc/ there is a display problem with the section labeled 'Example'.  Specifically, the examples of legal and illegal strings are not displaying correctly.  I suspect it is because some of the braces are being interpreted by the web ser

[2022-05-16 15:36] martinswanson commented on #225
The README file is valid markdown code, and displays correctly in Safari, Chrome, and Firefox when viewed via the GitHub repository. The problem is specific to GitHub Pages, which is used to render the home page. Short of migrating off GitHub Pages, I am not aware of any fix we can practically do here.

[2022-05-16 20:18] mroam commented on #225
As noted above, when browsing (Safari) to https://javacc.github.io/javacc/
The correct example    "{}", "{{{{{}}}}}", etc.           becomes       {}, }}} // … etc
And viewing the source html, I see the problem on line 179 which says
<p><code class="language-plaintext highlighter-rouge">{}</code>, <code class="language-plaintext highlighter-rouge">}}}</code> // … etc</p>

I guess that html is auto

[2022-05-16 23:47] martinswanson commented on #225
As already mentioned this is an issue with GitHub Pages. The markdown is correct.

GitHub Pages is rendered from /docs.

There is already a link “View on GitHub”

[2022-05-16 23:47] #225 closed

[2022-05-18 08:31] simonpoole opened #226 "Rename tag for "release" 6.1.3"
See this issue https://github.com/simonpoole/OpeningHoursParser/issues/72

tl;dr Debian unstable switched to 6.1.3 this month, this causes a compile fail in a not totally unimportant downstream project included in Debian. The root cause seems to be down to the naming of the relevant tag, this could be avoided by renaming it.

[2022-05-18 09:51] zosrothko commented on #226
@simonpoole Do not understand what is the issue. Could you elaborate?

[2022-05-18 10:08] simonpoole commented on #226
@zosrothko 6.1.3 is not backwards compatible with 6.1.2, or 5.x. All other 6.x or 7.x releases are. See the linked issue.

As a result of assuming that 6.1.3 is a bona fide release (because of numbering and naming) Debian is including a version of JavaCC that is clearly broken.

[2022-05-18 11:07] zosrothko commented on #226
tag release-6.1.3 deleted.

[2022-05-18 11:07] #226 closed

[2022-05-20 06:46] ebourg commented on #226
Btw, there is no tag for the 5.x releases, would it be possible to add at least the last one please?

[2022-05-20 14:43] zosrothko commented on #226
Done as [release_5_9_3](https://github.com/javacc/javacc/releases/tag/untagged-49efe82912296f64b09d) but there is no source or binaries attached

[2022-05-20 17:06] ebourg commented on #226
Thank you, does it match the javacc 5.0 artifact on [Maven Central](https://search.maven.org/artifact/net.java.dev.javacc/javacc/5.0/jar)? It was released on 2009-08-31, so the closest commit is 19e74b0900473ca2ae503fddd10b9c4bb5d8c104

[2022-05-21 07:00] zosrothko commented on #226
it matches the branch version_593 on the git repository. Its README displays "JavaCC 5.0". So I suppose that is the one on [Maven Central](https://search.maven.org/artifact/net.java.dev.javacc/javacc/5.0/jar).

[2022-05-22 20:18] ebourg commented on #226
The branch version_593 diverged from the HEAD branch on 2014-02-09 (bcfad9eeee6e880bbff2fb4caa444a8064ec9602), years after the upload of the version 5.0 to Maven Central. It looks more like a beta version of the 6.x line.

[2022-05-23 04:34] zosrothko commented on #226
Release management in the past were quite a bit clumsy. For exemple, the commit you mention for javacc 5.0 ([19e74b0900473ca2ae503fddd10b9c4bb5d8c104] (https://github.com/javacc/javacc/commit/19e74b0900473ca2ae503fddd10b9c4bb5d8c104) on Maven Central is in fact the release 6.0 in the JavaCC github repo.

Fixed broken link

    [master](https://github.com/javacc/javacc)

    [release_60](https://gi

[2022-05-23 10:58] ebourg commented on #226
The `release_60` tag points to the commit 26cc464899f7d5ddb8392f293a2f846178f07f8b which is from 2013 (unless someone changed it recently).

Tagging 19e74b0900473ca2ae503fddd10b9c4bb5d8c104 as `release_50` looks appropriate.

[2022-06-03 14:05] manticore-projects opened #229 "Production works with the Gradle Plugin, but fails with the Maven Plugin"
Greetings.

Very strange observation: The following Production would compile with the Gradle Plugin, but fail with the Maven Plugin:
[code]

Error from the Maven build:
[code]

Rewriting it solves the problem:
[code]

For details, please refer to: https://github.com/JSQLParser/JSqlParser/pull/1552#issuecomment-1145917623

[2022-06-30 05:48] AlphaHinex commented on #225
Can we use zero-width space to fix this issue like https://github.com/javacc/javacc/pull/231 ?

[2022-07-03 20:34] #221 closed

[2022-07-07 03:28] chenrui333 opened #233 "`javacc.org` site is down"
Looks like the website (`https://javacc.org/`) is down

[2022-07-07 07:09] zosrothko commented on #233
but `http://javacc.org` is fine!

[2022-07-07 07:09] #233 closed

[2022-07-08 16:38] vlsi opened #234 "Support INCLUDE instruction so the grammar file could be split into several files"
For instance, SQL grammar can be quite big, and it would be more convenient to split that into several files: https://github.com/apache/calcite/blob/724eb032d0141c15d17422d50c5235be00ac989f/core/src/main/codegen/templates/Parser.jj

See https://doku.javacc.com/doku.php?id=include

[2022-07-08 16:38] vlsi commented on #234
@new-javacc , I don't know what is core and non-core, however, it looks like that INCLUDE is a core feature. Let me know if it is non-core.

[2022-07-08 16:44] vlsi opened #235 "Support SCAN and =>|| as better LOOKAHEAD alternatives"
LOOKAHEAD is hard to use, and it is error-prone.
It would be way better if SCAN and =>|| could be used instead.

See https://javacc.com/2020/07/24/the-new-scan-construct/, https://javacc.com/2020/07/31/new-feature-for-scan-up-to-here/

@new-javacc , this looks like a great core feature

[2022-07-08 16:46] vlsi opened #236 "Support Context-Sensitive Tokenization"
Certain cases (like Java 18 grammar) would benefit from context-sensitive tokens.

See https://javacc.com/2021/06/13/activating-de-activating-tokens/

@new-javacc , this looks like a core feature to me

[2022-07-08 16:50] vlsi opened #237 "Support INJECT directive to add code to the generated code"
See https://javacc.com/2020/03/14/a-fun-example-of-code-injection-at-work/

[2022-07-08 17:05] new-javacc commented on #234
Sure if you have a PR send it and we will review it. Of course it's an RFE for the "core" repo. That doesn't mean I want to do it lol. Like I said, the repo is open and since this is almost an extension, as long I can see a PR that doesn;t impact users not using that INCLUDE feature, I will review and merge it, I'm not particulalry interested in implementing it.

[2022-07-08 17:52] vlsi opened #239 "Publish roadmap"
As per [the comment](https://github.com/javacc/javacc-8/discussions/2#discussioncomment-3216593), none of the features can be merged to core (I don't understand what core is) without @new-javacc approval.

However, every time I ask(https://github.com/javacc/javacc/issues/237, https://github.com/javacc/javacc/issues/236, https://github.com/javacc/javacc/issues/235, https://github.com/javacc/javacc/

[2022-07-20 04:58] blutorange commented on #229
I'm not that familiar with Gradle, but as far as I can see, the Gradle plugin still uses version 6 of JavaCC (https://github.com/javacc/javaccPlugin/blob/59cd9f786030e08d16afb298ccb850e149d30f70/subprojects/plugin/build.gradle#L35) whereas the Maven plugin already uses version 7. That might explain the different behavior.

[2022-07-20 05:13] new-javacc commented on #229
Please try version 8.0 as we would like to move everyone over to that version. Also the code generator is split out of the main core so you can fix it yourself rather easily now and also improve it if you are interested.

[2022-07-20 05:54] blutorange commented on #229
Oh interesting, I didn't even know about that version 8 project. Perhaps you could consider adding the maven/gradle plugin to the multi module project directly, like [they're doing it with the antlr plugin](https://github.com/antlr/antlr4/blob/master/antlr4-maven-plugin/pom.xml#L8-L12), which might help to keep the plugin up-to-date with the javacc version?

[2022-08-20 08:38] yurkom opened #243 "Character code is returned instead of the symbol in the message"
Before
[code]
After
[code]

It was introduced in 31ba95d2383f11902030c67b2a7cb291608471d8

[2022-08-20 16:50] zosrothko commented on #243
@MarcMazas Could you have a look at this issue since it seems it is coming from one of your change.

[2022-08-23 09:54] MarcMazas commented on #243
Line 106 of src/main/resources/templates/TokenMgrError.template sould be

(EOFSeen ? "<EOF>" : ("'" + addEscapes(String.valueOf(curChar1)) + "' (" + (int)curChar + "),")) + //

Instead of

(EOFSeen ? "<EOF>" : ("'" + addEscapes(String.valueOf(curChar)) + "' (" + (int)curChar + "),")) + //

De : Francis ANDRE ***@***.***>
Envoyé : samedi 20 août 2022 18:51
À : javacc/javacc ***@***.***>
Cc : MAZAS

[2022-08-24 16:26] duesentrieb17 opened #244 "Customizing error messages does not work"
The methods mentioned in
https://javacc.github.io/javacc/documentation/api.html#error-messages
are not generated although ERROR_REPORTING=true
I am using version 7.0.11.

[2022-09-12 09:08] albert-github commented on #198
Looks like a continuing story, version 7.0.12 is the latest release but e.g. in https://javacc.github.io/javacc/release-notes.html there is a reference to 7.0.11 as newest and at https://javacc.github.io/javacc/7.0.10 is the newest.

[2022-09-12 09:13] albert-github opened #246 "Warnings regarding unused formal parameters in cpp templates"
With the Microsoft compiler we get for the following a warning. Its general form is:
[code]

It concerns:

https://github.com/javacc/javacc/blob/22c454191dd9c7fb1db5100d2a339945e1fed554/src/main/resources/templates/cpp/CharStream.h.template#L33

Suggested changes are:
[code]
or
[code]
the first version only works for compilers which are C++17  or newer compliant, the second for will work for older

[2022-09-12 13:20] zosrothko commented on #198
Fixed

[2022-09-12 13:26] albert-github commented on #198
We probably have to wait a little while to get everything deployed, how long will that approximately be?

[2022-09-12 13:48] zosrothko commented on #198
No idea, this is a Github process

[2022-09-12 13:56] albert-github commented on #198
For doxygen there is also a process for uploading the internal development documentation  (i.e. documentation based on the used files) to http://doxygen.github.io/doxygen/index.html and here we see the results immediately after the deployment process has been completed.
So strange that for javaCC this is not the case.

[2022-09-12 14:20] new-javacc commented on #198
Sorry I'm just joining the thread. Albert, can you quickly summarize what the issue is?Thanks!On Sep 12, 2022 6:57 AM, albert-github ***@***.***> wrote:
For doxygen there is also a process for uploading the internal development documentation  (i.e. documentation based on the used files) to http://doxygen.github.io/doxygen/index.html and here we see the results immediately after the deployment proc

[2022-09-12 14:31] albert-github commented on #198
The javaCC  like pages  https://javacc.github.io/javacc/release-notes.html and https://javacc.github.io/javacc/ are not updated although the deployment process should have run (they still show old versions).

I gave the example regarding doxygen where the github.io pages is immediately updated after the deployment.

[2022-09-12 14:39] new-javacc commented on #198
Sorry I'm not familiar with that. If you want to update it, let me know and I can give you permissions to fix it up.On Sep 12, 2022 7:31 AM, albert-github ***@***.***> wrote:
The javaCC  like pages  https://javacc.github.io/javacc/release-notes.html and https://javacc.github.io/javacc/ are not updated although the deployment process should have run (they still show old versions).
I gave the exampl

[2022-09-12 15:37] albert-github commented on #198
I think it is an automated process that should take of it and the changes @zosrothko made should automatically be updated when a merge is made. The deployment process looks like to have succeeded but no update visible at the github.io pages.

From my side I just noted the problems and reported them.

[2022-10-18 16:08] MarcMazas opened #247 "Strange part of the JavaCC grammar"
Grammar JavaCC.jj (javacc v7), lines 1318 ... : in the definition of an expansion_unit, we have
  |
    regular_expression(c)
	{
	  ((RegularExpression)(c.member)).lhsTokens = lhsTokens;
	  add_inline_regexpr((RegularExpression)(c.member));
	}
	[ "." t=&lt;IDENTIFIER&gt; { ((RegularExpression)(c.member)).rhsToken = t; } ]
  )
To what use corresponds the optional line starting with the dot?
I don't

[2022-10-19 16:20] opeongo opened #248 "Unreachable statement while using modern templates"
I just tried using javacc 7.0.10 on my javacc 6.0 code base using the modern template (primarily because I wanted to get TokenMgrException instead of TokenMgrError).   Here is the JAVACC option that I used:
[code]
After updating my .jj file for the expected things (e.g. Provider) I got an unexpected unreachable statement error from BNF productions that contain code similar to the following:
[code]

[2022-10-19 17:04] opeongo commented on #239
@vlsi you are missing the point.  There is no code to be 'merged'.  None of the features that you have mentioned can be 'merged' until someone writes the code.  @new-javacc has stated multiple times that he is not available or not interested enough to write the code for these features that you have mentioned.  There are no employees here that will write this code for you,   If you are interested i

[2022-10-21 08:01] vlsi commented on #239
@opeongo , I am afraid you miss the point.

1) Here's the comment which says only Sreeni is ever allowed to modify "core": https://github.com/javacc/javacc-8/discussions/2#discussioncomment-3216593

2) The key question here is to get idea if javacc/javacc has anything on their roadmap.

3) "not like open source works".
There's a trivial pull request https://github.com/javacc/javacc/pull/85 waiting

[2022-10-29 10:58] revusky commented on #239
Well, it is true that JavaCC21 is a different project but that's not really a fully correct characterization of the situation. JavaCC21 is a result of a continuation of work on the original JavaCC that was open-sourced by Sun Microsystems in June 2003. That branch of development dates back to 2008, when it was originally called FreeCC, and it was resuscitated as JavaCC21 in early 2020. See https:/

[2022-11-03 17:55] opeongo commented on #239
@revusky what is the backwards compatibility between Javacc21 and this javacc project?  Is javacc21 a drop in replacement for an existing jj or jjt file, or is there a different command set or syntax?

[2022-11-05 00:02] revusky commented on #239
In terms of generating a parser from a legacy jj or jjt file, you could say it is a drop-in replacement. Pretty much.  That is because legacy syntax continues to be supported. It will *probably* generate the parser code from your grammar with no fuss, though you should try it, of course.

However, that does not mean that you can just switch to JavaCC21 with no adjustment. This is because the clien

[2022-11-08 16:58] AngledLuffa opened #249 "Bibtex citation?"
Do you have a system paper or other resource for citing this project?  We made extensive use of it in Stanford CoreNLP.  We hope to publish a paper regarding a previously unpublished component of CoreNLP, and citing JavaCC would be appropriate.

[2022-11-09 16:25] new-javacc commented on #249
No :( We never published anything on it

[2022-11-09 16:48] AngledLuffa commented on #249
We'll include a link as a footnote, then!

Thanks for the very useful piece of software.

[2022-11-09 16:48] #249 closed

[2022-11-30 18:23] MarcMazas opened #250 "Warning with no obvious reason"
In the following small grammar, we have a compile warning for which I see no reason.
It looks to me it is a bug (well, I found this while building a very big set of test cases for JavaCC)..
Any idea? TIA. Marc

[code]

Following is the remaining of the grammar, if someone wants to test.
Running the test cases shows that the parser does not accept the input corresponding to the warning.

[code]